/*-------------------------------------------*/
/* CSS
/*-------------------------------------------*/

.vk_latestPosts {
	ul,li {
		list-style: none;
	}
	.card-deck {
		display: flex;
		flex-flow: unset;
		flex-wrap: wrap;
		.card {
			padding: 0;
			box-sizing: border-box;
			max-width: 100%;
			@media (min-width: 576px){
					flex: unset;
					margin-bottom: 30px;
			}
		}
	}
	.card-title {
		font-size: 14px;
	}
}
