@mixin photoFrame {
    background-color: #fff;
    padding: 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    zoom: 1;
    width: fit-content;
    &.alignleft{
        margin: 0 1em .5em 0;
    }
    &.alignright{
        margin: 0 0 .5em 1em;
    }
    figcaption {
       display: block;
       margin: 8px 0 0;

        
    }
}
@mixin mask{
    mask-repeat: no-repeat;
    mask-position: 50% 50%;
    mask-size: contain;
}


//コアの角丸
.is-style-rounded{
    img {
        border-radius: .5rem;
    }
}

//左寄せ、右寄せが未指定の場合はfigureに.is-style-vk-image のクラス名が付く
figure{ 
    &.is-style-vk-image {
        
        &-border {
            img {
                border: 1px solid #e5e5e5;
            }
        }

        &-photoFrame{
            @include photoFrame;

        }

        &-photoFrame-tilt-right{
            transform: rotate(-2deg);
            -moz-transform: rotate(-2deg);
            -webkit-transform: rotate(-2deg);
            @include photoFrame;
        }

        &-photoFrame-tilt-left{
            transform: rotate(2deg);
            -moz-transform: rotate(2deg);
            -webkit-transform: rotate(2deg);
            @include photoFrame;
        }

        &-shadow{
            box-shadow: 0 5px 10px rgba(0,0,0,0.15);
            width: fit-content;

            figcaption{
                display: block;
            }    
        }

        &-wave01 {
            img{
                mask-image: var(--vk_image-mask-wave01);
                @include mask;
            }
        }

        &-wave02{
            img{
                mask-image: var(--vk_image-mask-wave02);
                @include mask;
            }
        }

        &-wave03{
            img{
                mask-image: var(--vk_image-mask-wave03);
                @include mask;
            }
        }
        &-wave04{
            img{
                mask-image: var(--vk_image-mask-wave04);
                @include mask;
            }
        }

    }
}

//左寄せ、右寄せを指定した場合はdivのほうに.is-style-vk-image のクラス名が付くので、以下を追加する必要がある
.wp-block-image{ 
    &.is-style-vk-image {
        &-border figure{
            &.alignleft, &.alignright, &.aligncenter{
                img {
                    border: 1px solid #e5e5e5;
                }
            }
        }
        &-photoFrame figure{
            &.alignleft, &.alignright, &.aligncenter{
                @include photoFrame;
            }
        }

        &-photoFrame-tilt-right, &-photoFrame-tilt-right figure{
            &.alignleft, &.alignright, &.aligncenter{
                transform: rotate(-2deg);
                -moz-transform: rotate(-2deg);
                -webkit-transform: rotate(-2deg);
                @include photoFrame;
            }
        }

        &-photoFrame-tilt-left, &-photoFrame-tilt-left figure{
            &.alignleft, &.alignright, &.aligncenter{
                transform: rotate(2deg);
                -moz-transform: rotate(2deg);
                -webkit-transform: rotate(2deg);
                @include photoFrame;
            }
        }

        &-shadow figure{
            &.alignleft, &.alignright, &.aligncenter{
                box-shadow: 0 5px 10px rgba(0,0,0,0.15);
                width: fit-content;

                figcaption{
                    display: block;
                }   
            } 
        }

        &-wave01 figure{
            &.alignleft, &.alignright, &.aligncenter{
                img{
                    mask-image: var(--vk_image-mask-wave01);
                    @include mask;
                }
            }
        }

        &-wave02 figure{
            &.alignleft, &.alignright, &.aligncenter{
                img{
                    mask-image: var(--vk_image-mask-wave02);
                    @include mask;
                }
            }
        }

        &-wave03 figure{
            &.alignleft, &.alignright, &.aligncenter{
                img{
                    mask-image: var(--vk_image-mask-wave03);
                    @include mask;
                }
            }
        }

        &-wave04 figure{
            &.alignleft, &.alignright, &.aligncenter{
                img{
                    mask-image: var(--vk_image-mask-wave04);
                    @include mask;
                }
            }
        }
    }
}