body{
	--admin-sidebar-width: 160px;
	--admin-sidebar-folded-width: 36px;
	--admin-vk-blocks-snacbar-margin : 22px;
}
.components-snackbar {
	position: fixed;
	bottom: var(--admin-vk-blocks-snacbar-margin);
	left:calc(var(--admin-sidebar-width) + var(--admin-vk-blocks-snacbar-margin));
	.folded & {
		left:calc(var(--admin-sidebar-folded-width) + var(--admin-vk-blocks-snacbar-margin));
	}
}
.vk_admin_selectControl {
	width: 50%;
}

.vk_admin_page {
	.adminMain #adminContent_main,
	.adminMain.column_3 {
		overflow: visible;
	}

	section {
		padding-bottom: 1.5em
	}

	.submit.sticky {
		position: sticky;
		bottom: 0;
		background-color: rgba(240, 240, 240, .80);

		.update-button {
			padding: 0 3em;
		}
	}
}