/*-------------------------------------------*/
/* CSS
/*-------------------------------------------*/
.vk_slider {
	//共通ではないためvk_sliderの中に格納
	height: auto; //100%だとサイトエディター画面でおかしくなるのでautoに
	position: relative;
	&_item {
		height:auto; // これがないと高さが100%にならない
		&.vk_valign-top {
			align-items: flex-start;
			justify-content: flex-start;
		}
		&.vk_valign-center {
			align-items: center;
			justify-content: center;
		}
		&.vk_valign-bottom {
			align-items: flex-end;
			justify-content: flex-end;
		}
		&_container {
			// hidden を指定すると全幅などが切れるようになるので使用しない
			// overflow: hidden;
		}
	}
	.vk_slider_item-background-area{
		max-width:100%;
		margin-block-start: 0;
	}

}
