$vk-color-secondary: #6c757d;
$vk-color-success: #28a745;
$vk-color-info:#17a2b8;
$vk-color-warning:#ffc107;
$vk-color-danger: #dc3545;
$vk-color-light:#f8f9fa;
$vk-color-dark:#343a40;

.vk_button {
	margin: 5px auto; /* 他テーマで0だと左寄せになる場合があるのでautoに変更 */
	text-align: center; /* テキストのみの時のセンター揃え */
	&-color-custom {
		a:hover {
			opacity: 0.8;
			box-shadow: 0 0 0 0.2rem rgba(171, 184, 195, 0.25);
		}
	}

	&.vk_button-align {
		&-left {
			text-align: left;
		}

		&-center {
			text-align: center;
		}

		&-right {
			text-align: right;
		}

		&-block {
			display: block;
		}
		&-wide {
			display: block;
			margin-left: auto;
			margin-right: auto;
			max-width: 70%;
			.btn {
				display: block;
			}
		}
	}

	.vk_button_link {
		min-width: 100px;
		min-height: 30px;

		&-type-text {
			box-shadow: none;
			padding: 0;
			&:hover {
				background: none;
				box-shadow: none;
			}
		}

		&.btn {
			// .btn指定がないと管理画面で標準の .btn の指定に負ける
			padding-top: 0.7em;
			padding-bottom: 0.6em;
			user-select: text;
			text-decoration: none;
			font-size: calc( var(--vk-size-text) * 1 );
		}
		&.btn-lg{
			font-size:calc( var(--vk-size-text) * 1.25 );
		}
		&.btn-sm {
			font-size: calc( var(--vk-size-text) * .875 );
		}
		&_before {
			margin-right: 0.7rem;
		}

		&_after {
			margin-left: 0.7rem;
		}

		&_subCaption {
			display: block;
			overflow: hidden;
			margin: 0;
			font-size: 80%;
		}
	}
	.vk_button_link-type-text{
		&:hover{
			&.btn-outline-primary{color: var(--vk-color-primary);}
			&.btn-outline-secondary{color: $vk-color-secondary;}
			&.btn-outline-success{color:$vk-color-success;}
			&.btn-outline-info{color: $vk-color-info;}
			&.btn-outline-warning{color: $vk-color-warning;}
			&.btn-outline-danger{color: $vk-color-danger;}
			&.btn-outline-dark{	color: $vk-color-dark;}
		}
		&.btn-outline-light{ color: #212529; }
	}

	.editor-styles-wrapper &{ 
		//.editor-styles-wrapper a:not([href])に負けるので追加
		a,
		a:hover{
			&.btn-primary{ background-color: var(--vk-color-primary); border-color:var(--vk-color-primary); }
			&.btn-primary,
			&.btn-secondary,
			&.btn-success,
			&.btn-info,
			&.btn-danger,
			&.btn-dark {
				color: #fff;
			}
		}
		a{
			&.vk_button_link-type-text:hover.btn-outline-primary{
				color: var(--vk-color-primary);
			}
			&.btn-outline-primary{
				color: var(--vk-color-primary); 
				border-color:var(--vk-color-primary);
				&:hover:not(.vk_button_link-type-text){
					background-color:var(--vk-color-primary);
				}
			}
			&.btn-outline-secondary{color: $vk-color-secondary;}
			&.btn-outline-success{color: $vk-color-success;}
			&.btn-outline-info{color: $vk-color-info;}
			&.btn-outline-warning{color: $vk-color-warning;}
			&.btn-outline-danger{color: $vk-color-danger;}
			&.btn-outline-light{color: $vk-color-light;}
			&.btn-outline-dark{	color: $vk-color-dark;}
		}
		a:hover{
			&.btn-outline-primary,
			&.btn-outline-secondary,
			&.btn-outline-success,
			&.btn-outline-info,
			&.btn-outline-danger,
			&.btn-outline-dark{
				color: #fff;
			}
		}
	}
	.editor-rich-text {
		// Font Awesomeアイコンが管理画面側で改行されないために inline-block を指定
		display: inline-block;
	}
}

.vk_button-color-custom {
	.vk_button_link-type-text:hover {
		box-shadow: none;
	}
}

