$vk-color-secondary: #6c757d;
$vk-color-success: #28a745;
$vk-color-info:#17a2b8;
$vk-color-warning:#ffc107;
$vk-color-danger: #dc3545;
$vk-color-light:#f8f9fa;
$vk-color-dark:#343a40;

:root,
:root .editor-styles-wrapper {
	.has-vk-color-primary-background-color {
		background-color: var(--vk-color-primary);
	}
	.has-vk-color-secondary-background-color {
		background-color: $vk-color-secondary;
	}
	.has-vk-color-success-background-color {
		background-color: $vk-color-success;
	}
	.has-vk-color-info-background-color {
		background-color: $vk-color-info;
	}
	.has-vk-color-warning-background-color {
		background-color: $vk-color-warning;
	}
	.has-vk-color-danger-background-color {
		background-color: $vk-color-danger;
	}
	.has-vk-color-light-background-color {
		background-color: $vk-color-light;
	}
	.has-vk-color-dark-background-color {
		background-color: $vk-color-dark;
	}
	.has-vk-color-primary-color {
		color: var(--vk-color-primary);
	}
	.has-vk-color-secondary-color {
		color: $vk-color-secondary;
	}
	.has-vk-color-success-color {
		color: $vk-color-success;
	}
	.has-vk-color-info-color {
		color: $vk-color-info;
	}
	.has-vk-color-warning-color {
		color: $vk-color-warning;
	}
	.has-vk-color-danger-color {
		color: $vk-color-danger;
	}
	.has-vk-color-light-color {
		color: $vk-color-light;
	}
	.has-vk-color-dark-color {
		color: $vk-color-dark;
	}
}


.vk_button,
.editor-styles-wrapper .vk_button {
	margin: 0 auto 5px; /* 他テーマで0だと左寄せになる場合があるのでautoに変更 */
	text-align: center; /* テキストのみの時のセンター揃え */
	&-color-custom {
		a:hover {
			opacity: 0.8;
			box-shadow: 0 0 0 0.2rem rgba(171, 184, 195, 0.25);
		}
		.vk_button_link-type-text:hover {
			box-shadow: none;
		}
	}

	// 塗り
	.btn.has-background {
		color: #fff;
		/* 白っぽい色に対する対策 */
		&.has-vk-color-light-background-color,
		&.has-white-background-color {
			color:#212529;
		}
	}

	// 背景なし
	.btn.has-text-color.is-style-outline {
		background-color: transparent;
		border: 1px solid currentColor;
		&:hover {
			/* 応急処置：規定カラー */
			&.has-vk-color-primary-color {
				color: var(--vk-color-primary);
			}
			&.has-vk-color-secondary-color {
				color: $vk-color-secondary;
			}
			&.has-vk-color-success-color {
				color: $vk-color-success;
			}
			&.has-vk-color-info-color {
				color: $vk-color-info;
			}
			&.has-vk-color-warning-color {
				color: $vk-color-warning;
			}
			&.has-vk-color-danger-color {
				color: $vk-color-danger;
			}
			&.has-vk-color-light-color {
				color: $vk-color-light;
			}
			&.has-vk-color-dark-color {
				color: $vk-color-dark;
			}
			/* 応急処置：カラーパレットコア */
			&.has-black-color {
				color: #000000;
			}
			&.has-cyan-bluish-gray-color {
				color: #abb8c3;
			}
			&.has-white-color {
				color: #ffffff;
			}
			&.has-pale-pink-color {
				color: #f78da7;
			}
			&.has-vivid-red-color {
				color: #cf2e2e;
			}
			&.has-luminous-vivid-orange-color {
				color: #ff6900;
			}
			&.has-luminous-vivid-amber-color {
				color: #fcb900;
			}
			&.has-light-green-cyan-color {
				color: #7bdcb5;
			}
			&.has-vivid-green-cyan-color {
				color: #00d084;
			}
			&.has-pale-cyan-blue-color {
				color: #8ed1fc;
			}
			&.has-vivid-cyan-blue-color {
				color: #0693e3;
			}
			&.has-vivid-purple-color {
				color: #9b51e0;
			}
			/* 応急処置：カラーパレットVK */
			&.has-vk-color-primary-color {
				color: var(--vk-color-primary);
			}
			&.has-vk-color-primary-dark-color {
				color: var(--vk-color-primary-dark);
			}
			&.has-vk-color-primary-vivid-color {
				color: var(--vk-color-primary-vivid);
			}
			&.has-vk-color-custom-1-color {
				color: var(--vk-color-custom-1);
			}
			&.has-vk-color-custom-2-color {
				color: var(--vk-color-custom-2);
			}
			&.has-vk-color-custom-3-color {
				color: var(--vk-color-custom-3);
			}
			&.has-vk-color-custom-4-color {
				color: var(--vk-color-custom-4);
			}
			&.has-vk-color-custom-5-color {
				color: var(--vk-color-custom-5);
			}
			// ここから標準装備
			background-color: currentColor;
			border: 1px solid currentColor;
			.vk_button_link_before,
			.vk_button_link_txt,
			.vk_button_link_after,
			.vk_button_link_subCaption {
				color: #fff;
			}
			/* 白っぽい色に対する対策 */
			&.has-vk-color-light-color .vk_button_link_before,
			&.has-vk-color-light-color .vk_button_link_txt,
			&.has-vk-color-light-color .vk_button_link_after,
			&.has-vk-color-light-color .vk_button_link_subCaption,
			&.has-white-color .vk_button_link_before,
			&.has-white-color .vk_button_link_txt,
			&.has-white-color .vk_button_link_after,
			&.has-white-color .vk_button_link_subCaption {
				color:#212529;
			}
		}
	}

	// テキストのみ
	.has-text-color.vk_button_link-type-text {
		&:hover {
			background-color: currentColor;
			.vk_button_link_before,
			.vk_button_link_txt,
			.vk_button_link_after,
			.vk_button_link_subCaption {
				color: #fff;
			}
			/* 白っぽい色に対する対策 */
			&.has-vk-color-light-background-color .vk_button_link_before,
			&.has-vk-color-light-background-color .vk_button_link_txt,
			&.has-vk-color-light-background-color .vk_button_link_after,
			&.has-vk-color-light-background-color .vk_button_link_subCaption,
			&.has-white-color .vk_button_link_before,
			&.has-white-color .vk_button_link_txt,
			&.has-white-color .vk_button_link_after,
			&.has-white-color .vk_button_link_subCaption {
				color:#212529;
			}
		}
	}

	&.vk_button-align {
		&-left {
			text-align: left;
		}

		&-center {
			text-align: center;
		}

		&-right {
			text-align: right;
		}

		&-block {
			display: block;
		}
		&-wide {
			display: block;
			margin-left: auto;
			margin-right: auto;
			max-width: 70%;
			.vk_button_btn,
			.btn {
				display: block;
			}
		}
	}

	.vk_button_link {
		min-width: 100px;
		min-height: 30px;

		&-type-text {
			box-shadow: none;
			padding: 0;
			&:hover {
				background: none;
				box-shadow: none;
			}
		}

		&.btn {
			// .btn指定がないと管理画面で標準の .btn の指定に負ける
			padding-top: 0.6em;
			padding-bottom: 0.6em;
			user-select: text;
			text-decoration: none;
			font-size: calc( var(--vk-size-text) * 1 );
		}
		&.btn-lg{
			font-size:calc( var(--vk-size-text) * 1.25 );
		}
		&.btn-sm {
			font-size: calc( var(--vk-size-text) * .875 );
		}
		&_before {
			margin-right: 0.7rem;
		}

		&_after {
			margin-left: 0.7rem;
		}

		&_subCaption {
			display: block;
			overflow: hidden;
			margin: 0;
			font-size: 80%;
		}
	}

	.editor-rich-text {
		// Font Awesomeアイコンが管理画面側で改行されないために inline-block を指定
		display: inline-block;
	}
}

