/*-------------------------------------------*/
/* CSS
/*-------------------------------------------*/

.vk_table {
	&-col-mobile1 {
		@media( max-width: 575.98px){
			th,
			td {
					display: block;
			}
			th {
				background-color: rgba(0, 0, 0, 0.05);
			}
			// ストライプ指定の時の背景色をリセット
			&.table-striped tbody {
				tr:nth-of-type(odd) {
					background: inherit;
				}
			}
		} // @media( max-width: 575.98px){
	} // &-col-mobile1 {
}

/*-------------------------------------------*/
/* editor class
/*-------------------------------------------*/
.vk_simpleTable-edit{
	.editor-inner-blocks,
	.editor-block-list__layout,
	.editor-block-list__block,
	.editor-rich-text__editable,
	.editor-block-list__block-edit{
		padding:0;
		margin:0;
		width:100%;
	}
	& > .editor-inner-blocks{
		margin-top:-1px; // th,td がHTML上ではdivの中になってしまう都合上、線が2pxになるためマイナスオフセット
	}
	.editor-block-list__block-edit{
		height:100%;
	}
	.block-editor-block-list__insertion-point{
		/* 上のセルに被るので選択しにくくなるのでデフォルトのマイナスオフセットを少し下げる */
		top:-5px;
	}
	.editor-block-list__block-edit:before{
		right:-0px;
		left:-0px;
		top:-0px;
		bottom:-0px;
		// border:1px solid #ff0000;
	}
	.editor-inner-blocks {
		tr {
			width:100%;
			display: block;
			border-bottom:1px solid #e5e5e5;
			.editor-block-list__layout {
				display: flex;
				.editor-block-list__block {
				}
			}
		}
		th,
		td {
			padding: 0;
			display: block;
			width:100%;
			border:none; // デフォルトでつけてくる線を消す
			.editor-rich-text__editable{
				padding: 14px;
			}
		}
	}
	// 編集画面のtableは HTML構造がカオスなので補正
	&.table-striped > tbody > .editor-inner-blocks > .editor-block-list__layout > div:nth-of-type(odd) {
			background-color: rgba(0, 0, 0, 0.05);
	}
}
