.vk_balloon {
  display: flex;
  align-items: center;
  margin-bottom: 1em; }
  .vk_balloon figure {
    margin: 0; }
  .vk_balloon p {
    word-break: break-all;
    background: #f5f5f5;
    padding: 1.1rem 1.4rem; }

.vk_balloon_icon {
  flex-basis: 96px;
  flex-shrink: 0;
  text-align: center; }

.vk_balloon_icon_image {
  vertical-align: bottom;
  max-width: 64px; }

.vk_balloon_icon_name {
  display: block;
  text-align: center;
  font-size: 0.7rem;
  margin-top: 0.2rem; }

.vk_balloon_content {
  position: relative;
  text-align: left; }
  .vk_balloon_content.editor-rich-text__tinymce[data-is-placeholder-visible=true] {
    position: absolute; }

/*	type
/*-------------------------------------------*/
.vk_balloon-type-serif .vk_balloon_content {
  border-color: #f5f5f5;
  border-radius: .4em; }
  .vk_balloon-type-serif .vk_balloon_content::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 20px solid transparent; }

.vk_balloon-type-think .vk_balloon_content {
  border-radius: 2rem; }
  .vk_balloon-type-think .vk_balloon_content::before, .vk_balloon-type-think .vk_balloon_content::after {
    position: absolute;
    content: '';
    border-radius: 50%;
    background: inherit; }
  .vk_balloon-type-think .vk_balloon_content::before {
    width: 20px;
    height: 20px; }
  .vk_balloon-type-think .vk_balloon_content::after {
    width: 10px;
    height: 10px; }

/*	position
/*-------------------------------------------*/
.vk_balloon-position-left.vk_balloon-type-serif .vk_balloon_icon {
  margin-right: 2rem; }
.vk_balloon-position-left.vk_balloon-type-serif .vk_balloon_content::after {
  left: 0;
  top: 50%;
  border-right-color: inherit;
  border-left: 0;
  margin-top: -20px;
  margin-left: -20px; }
.vk_balloon-position-left.vk_balloon-type-think .vk_balloon_icon {
  margin-right: 2.5rem; }
.vk_balloon-position-left.vk_balloon-type-think .vk_balloon_content::before {
  left: -22px;
  top: 7px; }
.vk_balloon-position-left.vk_balloon-type-think .vk_balloon_content::after {
  left: -35px;
  top: 20px; }

.vk_balloon-position-right {
  flex-direction: row-reverse; }
  .vk_balloon-position-right.vk_balloon-type-serif .vk_balloon_icon {
    margin-left: 2rem; }
  .vk_balloon-position-right.vk_balloon-type-serif .vk_balloon_content::after {
    right: 0;
    top: 50%;
    border-left-color: inherit;
    border-right: 0;
    margin-top: -20px;
    margin-right: -20px; }
  .vk_balloon-position-right.vk_balloon-type-think .vk_balloon_icon {
    margin-left: 2.5rem; }
  .vk_balloon-position-right.vk_balloon-type-think .vk_balloon_content::before {
    right: -22px;
    top: 7px; }
  .vk_balloon-position-right.vk_balloon-type-think .vk_balloon_content::after {
    right: -35px;
    top: 20px; }

.vk_balloon.animation-vibration .vk_balloon_content {
  display: inline-block;
  animation: vibration .1s  infinite; }

/**
 Animation Vibration
 */
@keyframes vibration {
  0% {
    transform: translate(0px, 0px) rotateZ(0deg); }
  25% {
    transform: translate(2px, 2px) rotateZ(1deg); }
  50% {
    transform: translate(0px, 2px) rotateZ(0deg); }
  75% {
    transform: translate(2px, 0px) rotateZ(-1deg); }
  100% {
    transform: translate(0px, 0px) rotateZ(0deg); } }
/*********************
* SmartPhone
0px - 480px
***********************/
@media only screen and (max-width: 480px) {
  .vk_balloon_content {
    font-size: .9em; }

  .vk_balloon-type-serif .vk_balloon_content::after {
    border: 15px solid transparent; }

  .vk_balloon-type-think .vk_balloon_content::after {
    border: 5px solid transparent; }

  .vk_balloon {
    align-items: normal; }
    .vk_balloon.vk_balloon-position-left.vk_balloon-type-serif .vk_balloon_icon {
      max-width: 86px;
      margin-right: 1.5rem; }
    .vk_balloon.vk_balloon-position-left.vk_balloon-type-serif .vk_balloon_content {
      display: inline-block; }
      .vk_balloon.vk_balloon-position-left.vk_balloon-type-serif .vk_balloon_content::after {
        top: 35px;
        margin-left: -15px; }
    .vk_balloon.vk_balloon-position-left.vk_balloon-type-think .vk_balloon_icon {
      margin-right: 2rem;
      max-width: 86px; }
    .vk_balloon.vk_balloon-position-left.vk_balloon-type-think .vk_balloon_content {
      display: inline-block; }
      .vk_balloon.vk_balloon-position-left.vk_balloon-type-think .vk_balloon_content::before {
        width: 15px;
        height: 15px; }
    .vk_balloon.vk_balloon-position-right {
      text-align: right; }
      .vk_balloon.vk_balloon-position-right.vk_balloon-type-serif .vk_balloon_icon {
        margin-left: auto;
        margin-right: 0; }
      .vk_balloon.vk_balloon-position-right.vk_balloon-type-serif .vk_balloon_content {
        display: inline-block; }
        .vk_balloon.vk_balloon-position-right.vk_balloon-type-serif .vk_balloon_content::after {
          top: 35px;
          margin-right: -15px; }
      .vk_balloon.vk_balloon-position-right.vk_balloon-type-think .vk_balloon_icon {
        margin-left: 2rem;
        margin-right: 0;
        max-width: 86px; }
      .vk_balloon.vk_balloon-position-right.vk_balloon-type-think .vk_balloon_content {
        display: inline-block; }

  .vk_balloon_icon {
    max-width: 96px; } }

/*# sourceMappingURL=style.css.map */
