/*-------------------------------------------*/
/* CSS
/*-------------------------------------------*/
@mixin reset() {
	background: none;
	border: none;
	border-radius: 0;
	padding: 0;
	outline: unset;
	outline-offset: unset;
	box-shadow: none;
	display: block; /* display:block をつけておかないと左右線デザインでflex指定されて左寄りになる */
	&:after {
		content: none;
		border: none;
	}
	&:before {
		content: none;
	}
}
.vk_heading {
	i:first-child {
		margin-right: 0.2em;
	}
	i:last-child {
		margin-left: 0.2em;
	}
}
// .vk_heading は指定が強い要素（ Charm ）も消すために必要
.vk_heading.vk_heading-style-plain {
	.vk_heading_title {
		@include reset;
		&:not(.has-text-color) {
			color: unset;
		}
		&:after {
			@include reset;
		}
	}
}

.vk_heading_subtext {
	margin-bottom: 0;
}
