/*-------------------------------------------*/
/* CSS
/*-------------------------------------------*/
@mixin reset() {
	background: none;
	border:none;
	border-radius: 0;
	padding:0;
	font-weight: normal;
	box-shadow:none;
	&:after {
		content:none;
		border:none;
	}
	&:before{
		content:none;
	}
}

// .vk_heading は指定が強い要素（ Charm ）も消すために必要
.vk_heading.vk_heading-style-plain {
	.vk_heading_title {
		@include reset;
		&:after {
			@include reset;
		}
	}
}

.vk_heading_subtext {
	margin-bottom:0;
}
