.alert{

	padding: 1em;
  margin: 1em auto;
  border-radius: 3px;
	p {
		margin:0;
	}

  & + &{
    margin-top: 2em;
  }

  a{
    transition: color .3s linear, opacity .3s linear;
    &:link, &:visited{
      opacity: .8;
      text-decoration: underline;
    }
    &:hover, &:visited{
      opacity: 1;
      text-decoration: none;
    }
  }

  @each $var in (
                  (success, #dff0d8,#3c763d,#d6e9c6),
                  (info, #d9edf7,#31708f,#bce8f1),
                  (warning, #fcf8e3,#8a6d3b,#faebcc),
                  (danger, #f2dede,#a94442,#ebccd1),
  ){
    $class-name: nth($var, 1);
    $color-bg: nth($var, 2);
    $color: nth($var, 3);
    $color-border :nth($var, 4);
    &-#{$class-name}{
      background-color: $color-bg;
      color:$color;
      border-color:$color-border;
    }
  }
}
