/*-------------------------------------------*/
/* CSS
/*-------------------------------------------*/
.vk_spacer-type-height {
	display:block;
	overflow:hidden;
}
@mixin switchVisibility($pc, $tablet, $mobile) {
	.vk_spacer {
		.vk_spacer-display-pc {
			display: $pc;
		}

		.vk_spacer-display-tablet {
			display: $tablet;
		}

		.vk_spacer-display-mobile {
			display: $mobile;
		}
	}
}

// Small devices (landscape phones, 576px以下)
@media (max-width: 576px) {
	@include switchVisibility(none, none, block);
}

// Medium devices (tablets, 577pxから768px)
@media (min-width: 577px) and (max-width: 768px) {
	@include switchVisibility(none, block, none);
}

// Large devices (desktops, 769px以上)
@media (min-width: 769px) {
	@include switchVisibility(block, none, none);
}
