/*-------------------------------------------*/
/* CSS
/*-------------------------------------------*/
// 編集画面でcssの指定が軽くて負けるので、優先させるため .wp-block-vk-blocks-spacer を記述
.wp-block-vk-blocks-spacer.vk_spacer {
	margin-block-start:0; //デフォルトテーマでmargin-block-startがつくので打ち消し
	margin-bottom: 0;
}

.vk_spacer-type-margin-top,
.vk_spacer-type-margin-bottom{
	div[class*="vk_block-margin"]{
		display:block;
		overflow:hidden;
	}
}
.vk_spacer-type-height {
	display:block;
	overflow:hidden;
}
@mixin switchVisibility($pc, $tablet, $mobile) {
	.vk_spacer {
		.vk_spacer-display-pc {
			display: $pc;
		}

		.vk_spacer-display-tablet {
			display: $tablet;
		}

		.vk_spacer-display-mobile {
			display: $mobile;
		}
	}
}

// Small devices (landscape phones, 575.98px以下)
@media (max-width: 575.98px) {
	@include switchVisibility(none, none, block);
}

// Medium devices (tablets, 577pxから 991.98px)
@media (min-width: 576px) and (max-width: 991.98px) {
	@include switchVisibility(none, block, none);
}

// Large devices (desktops, 992px以上)
@media (min-width: 992px) {
	@include switchVisibility(block, none, none);
}
