/*-------------------------------------------*/
/* CSS
/*-------------------------------------------*/
$media-sm-up : 576px;
$media-md-up : 768px;
$media-lg-up : 992px;
$media-xl-up : 1200px;
$media-sm-down : 575.98px;
$media-md-down : 767.98px;
$media-lg-down : 991.98px;
$media-xl-down : 1199.98px;
.vk_outer{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  .vk_outer_container{
    min-height: 40px;
  }
}
.vk_outer-width-full {
	margin-left:calc(50% - 50vw);
	margin-right:calc(50% - 50vw);
  padding-left:calc(50vw - 50%);
  padding-right:calc(50vw - 50%);
}
$padding-none:1.5em;
$padding-sm:2em;
$padding-md:2.5em;
$padding-lg:3em;
$padding-xl:3.5em;
.vk_outer-paddingLR-use{
  padding-left: $padding-none ;
	padding-right: $padding-none ;
	@media ( min-width: $media-sm-up ){
		padding-left: $padding-sm ;
		padding-right: $padding-sm ;
	}
	@media ( min-width: $media-md-up ){
		padding-left: $padding-md ;
		padding-right: $padding-md ;
	}
	@media ( min-width: $media-lg-up ){
		padding-left: $padding-lg ;
		padding-right: $padding-lg ;
	}
	@media ( min-width: $media-xl-up ){
		padding-left: $padding-xl ;
		padding-right: $padding-xl ;
	}
}
.vk_outer-paddingVertical-use{
	padding-top: $padding-none ;
	padding-bottom: $padding-none ;
	@media ( min-width: $media-sm-up ){
		padding-top: $padding-sm ;
		padding-bottom: $padding-sm ;
	}
	@media ( min-width: $media-md-up ){
		padding-top: $padding-md ;
		padding-bottom: $padding-md ;
	}
	@media ( min-width: $media-lg-up ){
		padding-top: $padding-lg ;
		padding-bottom: $padding-lg ;
	}
	@media ( min-width: $media-xl-up ){
		padding-top: $padding-xl ;
		padding-bottom: $padding-xl ;
	}
}

.vk_outer-bgPosition-fixed{
  background-attachment: fixed !important;
	background-size: cover !important;
}
.vk_outer-bgPosition-normal{
  background-attachment: unset !important;
	background-size: cover !important;
}

.vk_outer_separator {
	svg {
		display: block;
		max-height: 100px;
		position: absolute;
		left: 0;
		width: 100%;
	}
}
.vk_outer_separator-position-upper{
  svg{
    top: 0;
    transform: rotate(180deg);
  }
}
.vk_outer_separator-position-lower{
  svg{
    bottom: 0;
  }
}

.vk_outer .editor-block-list__block {
	margin: 0;
}
// .editor-block-list__block-edit{
//   margin: 0!important;
// }
