/*-------------------------------------------*/
/* CSS
/*-------------------------------------------*/

.vk_outer{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  .vk_outer_container{
    min-height: 92px;
  }
}
.vk_outer-width-full {
	margin-left:calc(50% - 50vw);
	margin-right:calc(50% - 50vw);
  padding-left:calc(50vw - 50%);
  padding-right:calc(50vw - 50%);
}

.vk_outer-padding{
  padding: 50px ;
}
.vk_outer-padding-none{
  padding: 0 ;
}
.vk_outer-effect-fixed{
  background-attachment: fixed !important;
	background-size: cover !important;
}
.vk_outer-effect-none{
  background-attachment: unset !important;
	background-size: cover !important;
}

.vk_outer_separator {
	svg {
		display: block;
    max-height: 100px;
    position: absolute;
    left: 0;
	}
}
.vk_outer_separator-position-upper{
  svg{
    top: 0;
    transform: rotate(180deg);
  }
}
.vk_outer_separator-position-lower{
  svg{
    bottom: 0;
  }
}

.vk_outer .editor-block-list__block {
	margin: 0;
}
// .editor-block-list__block-edit{
//   margin: 0!important;
// }
