/*-------------------------------------------*/
/* CSS
/*-------------------------------------------*/

.vk_outer{
  background-position: center!important;
  background-size: cover!important;
  background-repeat: no-repeat!important;

  .vk_outer_container{
    min-height: 92px;
  }
}
.vk_outer-padding{
  padding: 50px ;
}
.vk_outer-padding-none{
  padding: 0 ;
}
.vk_outer-parallax{
  background-attachment: fixed!important;
}
.vk_outer-parallax-none{
  background-attachment: unset!important;
}
