.vk_edit_custom_css {
	border: 1px dashed #ccc !important;
	left:0;
	&:before {
		position:absolute !important;
		right:0;
		top:0;
		font-size:10px;
		background: #eeeeee;
		padding: .2em .6em;
		z-index: 1000;
		line-height: 1.2;
		letter-spacing: 1px;
		content: 'Custom CSS' !important;
	}
}

// animationブロックの中のブロックにカスタムCSSを使われた時にラベルがかぶらないようにずらす
.vk_animation>.block-editor-inner-blocks>.block-editor-block-list__layout {
	&>*[class*="vk_custom_css-"]:before {
		top: 2em;
	}
}

.vk-custom-css-sample-code {
	white-space: pre-wrap;
	padding: 16px;
	display: block;
	background: #f5f5f5;
}
