.vk_fixed-display {
	transform: unset;
	z-index: unset;
	border: 1px dashed #ccc;
	min-height:3em;
	// そのままだと編集画面でも消えてしまうので上書き（.wp-block-vk-blocks-fixed-display）がないと負けてしまう
	&.wp-block-vk-blocks-fixed-display{
		opacity: 1;
	}
	&:before {
		position:absolute;
		right:0;
		top:0;
		font-size:10px;
		background: #eeeeee;
		padding: .2em .6em;
		z-index:1000;
	}
	&.vk_fixed-display-position-top{
		left:0;
		&:before {
			content:'Top';
		}
	}
	&.vk_fixed-display-position-right{
		right:0;
		left: 0;
		&:before {
			content:'Right';
		}
	}
	&.vk_fixed-display-position-bottom{
		right:0;
		left: 0;
		&:before {
			content:'Bottom';
		}
	}
	&.vk_fixed-display-position-left{
		right:0;
		left: 0;
		&:before {
			content:'Left';
		}
	}
}
