/*-------------------------------------------*/
/* 管理画面
/*-------------------------------------------*/
// .edit-post-visual-editor だとモバイルやタブレットの iframe で効かないので .editor-styles-wrapper で指定
.editor-styles-wrapper{
	.is-layout-constrained .vk_slider_item-background-area {
		max-width: 100%; // コアが --wp--style--global--content-size つけてくるので打消し
	}
	.vk_slider.vk_swiper.alignwide,
	.vk_slider.vk_swiper.alignfull {
		.vk_slider_item {
			max-width:100%;
			// Lightning theme.json 有効時など コアが margin-block-start: 24px; つけてくるので打消し
			.vk_slider_item-background-area,
			.vk_slider_item_container{
				margin-block-start: 0; // コアが margin-block-start: 24px; つけてくるので打消し
			}
			&.vk_slider_item-paddingLR-use,
			&.vk_slider_item-paddingLR-zero{
				.vk_slider_item_container{
						max-width:100%;
					.wp-block:where(:not(.is-layout-constrained)){
						max-width:100%;
					}
				}
			}
		}
	}
}
