/* ブロックインサーター@サイドバー用 */
.vkb-menu__template-part {
	.block-editor-block-preview__content {
		left: 50% !important;
		margin-left: -50% !important;
	}
	&__button {
		padding: 0;
		width: 100%;
		height: auto;
	}

	// Card Outer
	& &__card__container {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: none;
		div[class*="vk_outer-bgPosition-"] {
			background-attachment: unset !important;
		}
	}

	& &__card {
		position: relative;
		display: flex;
		justify-content: center;
		border: none;
		margin: 0 0 0.5em;
		cursor: pointer;
		width: 90%;
		padding: 0;
		background: #fff;
		transition: all 0.35s ease;
		border: none;
		// これがないとプレビューのカード内の上下に余白ができる
		.editor-styles-wrapper .block-editor-block-list__block {
			margin-top: 0;
			margin-bottom: 0;
		}
		.content {
			width: 100%;
			max-width: 100%;
			h6 {
				color: #666;
				font-weight: 600;
				text-transform: uppercase;
				margin: 0 0 1em;
				letter-spacing: 2px;
				text-align: center;
			}
			.hover_content {
				overflow: auto;
				border-radius: 5px;
				border: 1px solid #e5e5e5;
				div.inner {
					color: #6e6e70;
					line-height: 1.4em;
					overflow: hidden;
				}
				.edit-post-visual-editor {
					position: initial;
					padding-top: 0;
				}
				&:hover {
					border: 1px solid #007cba;
				}
				.block-editor-block-preview__content {
					width: 720px !important;
					transform: scale(0.35) !important;
				}
			}
			&:hover {
				.logo {
					margin-bottom: 0.5em;
				}
				.hover_content {
					max-height: none;
					height: 100%;
					transform: none;
					.inner {
						width: 100%;
						height: auto;
					}
				}
			}
		} //.content
	} // &__card
}
.vkb-menu__template-part__button {
	/*
	If you want to change property of the height,
	your working browser window size have to full size.
	Because preview inner size was vary by window size.
	 */
	#vkb-menu__template-part__card0 .inner {
		height: 100px;
	}
	#vkb-menu__template-part__card1 .inner {
		height: 50px;
	}
	#vkb-menu__template-part__card2 .inner {
		height: 120px;
	}
	#vkb-menu__template-part__card3 .inner {
		height: 92px;
	}
	#vkb-menu__template-part__card4 .inner {
		height: 73px;
	}
	#vkb-menu__template-part__card5 .inner {
		height: 95px;
	}
	#vkb-menu__template-part__card6 .inner {
		height: 115px;
	}
	#vkb-menu__template-part__card7 .inner {
		height: 100px;
	}
	#vkb-menu__template-part__card8 .inner {
		height: 100px;
	}
	#vkb-menu__template-part__card9 .inner {
		height: 75px;
	}
	#vkb-menu__template-part__card10 .inner {
		height: 100px;
	}
	#vkb-menu__template-part__card11 .inner {
		height: 65px;
	}
}
