// button横並びブロック
.vk_buttons {
	.block-editor-inner-blocks {
		width: 100%;
	}

	.vk_buttons_col {
		display: block;
		margin-left: 0;

		.block-editor-block-list__layout {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			clear: both; // To be cope with inline image float and so on.
			gap: 8px;
		}

		&-justify-left {
			.block-editor-block-list__layout {
				justify-content: flex-start;
			}
		}

		&-justify-center {
			.block-editor-block-list__layout {
				justify-content: center;
			}
		}

		&-justify-right {
			.block-editor-block-list__layout {
				justify-content: flex-end;
			}
		}

		&-justify-space-between {
			.block-editor-block-list__layout {
				justify-content: space-between;
			}
		}
	}
}
