.vk_selectPostList-edit {
	.block-editor-inner-blocks{
		width:100%;
	}
	.block-editor-block-list__layout {
		margin-left: -15px;
		margin-right: -15px;
		display: flex;
		flex-wrap: wrap;
		clear: both;
		.wp-block-vk-blocks-select-post-list-item {
			margin-top:0; // コアが html :where(.wp-block) { に対して 28px 追加するので打ち消し
			.alert{ // はみ出し防止
				box-sizing: border-box;
			}
		}
	}
	&.vk_posts-layout-postListText { // テキスト1カラムの場合
		.block-editor-block-list__layout {
			display: block;
		}
	}
	.wp-block {
		margin-left: 15px;
		margin-right: 15px;

		& > div,
		.vk_post {
			width:100%;
			margin: 0;
			height: 100%;
		}
	}
}

.vk_selectPostList-edit-col-12 {
	.wp-block {
		width: calc(100% - 30px);
	}
}
.vk_selectPostList-edit-col-6 {
	.wp-block {
		width: calc(50% - 30px);
	}
}
.vk_selectPostList-edit-col-4 {
	.wp-block {
		width: calc(33.3333% - 30px);
	}
}
.vk_selectPostList-edit-col-3 {
	.wp-block {
		width: calc(25% - 30px);
	}
}
.vk_selectPostList-edit-col-2 {
	.wp-block {
		width: calc(16.6667% - 30px);
	}
}
@media (min-width: 576px) {
	.vk_selectPostList-edit-col-sm-12 {
		.wp-block {
			width: calc(100% - 30px);
		}
	}
	.vk_selectPostList-edit-col-sm-6 {
		.wp-block {
			width: calc(50% - 30px);
		}
	}
	.vk_selectPostList-edit-col-sm-4 {
		.wp-block {
			width: calc(33.3333% - 30px);
		}
	}
	.vk_selectPostList-edit-col-sm-3 {
		.wp-block {
			width: calc(25% - 30px);
		}
	}
	.vk_selectPostList-edit-col-sm-2 {
		.wp-block {
			width: calc(16.6667% - 30px);
		}
	}
}
@media (min-width: 768px) {
	.vk_selectPostList-edit-col-md-12 {
		.wp-block {
			width: calc(100% - 30px);
		}
	}
	.vk_selectPostList-edit-col-md-6 {
		.wp-block {
			width: calc(50% - 30px);
		}
	}
	.vk_selectPostList-edit-col-md-4 {
		.wp-block {
			width: calc(33.3333% - 30px);
		}
	}
	.vk_selectPostList-edit-col-md-3 {
		.wp-block {
			width: calc(25% - 30px);
		}
	}
	.vk_selectPostList-edit-col-md-2 {
		.wp-block {
			width: calc(16.6667% - 30px);
		}
	}
}
@media (min-width: 992px) {
	.vk_selectPostList-edit-col-lg-12 {
		.wp-block {
			width: calc(100% - 30px);
		}
	}
	.vk_selectPostList-edit-col-lg-6 {
		.wp-block {
			width: calc(50% - 30px);
		}
	}
	.vk_selectPostList-edit-col-lg-4 {
		.wp-block {
			width: calc(33.3333% - 30px);
		}
	}
	.vk_selectPostList-edit-col-lg-3 {
		.wp-block {
			width: calc(25% - 30px);
		}
	}
	.vk_selectPostList-edit-col-lg-2 {
		.wp-block {
			width: calc(16.6667% - 30px);
		}
	}
}
@media (min-width: 1200px) {
	.vk_selectPostList-edit-col-xl-12 {
		.wp-block {
			width: calc(100% - 30px);
		}
	}
	.vk_selectPostList-edit-col-xl-6 {
		.wp-block {
			width: calc(50% - 30px);
		}
	}
	.vk_selectPostList-edit-col-xl-4 {
		.wp-block {
			width: calc(33.3333% - 30px);
		}
	}
	.vk_selectPostList-edit-col-xl-3 {
		.wp-block {
			width: calc(25% - 30px);
		}
	}
	.vk_selectPostList-edit-col-xl-2 {
		.wp-block {
			width: calc(16.6667% - 30px);
		}
	}
}
@media (min-width: 1400px) {
	.vk_selectPostList-edit-col-xxl-12 {
		.wp-block {
			width: calc(100% - 30px);
		}
	}
	.vk_selectPostList-edit-col-xxl-6 {
		.wp-block {
			width: calc(50% - 30px);
		}
	}
	.vk_selectPostList-edit-col-xxl-4 {
		.wp-block {
			width: calc(33.3333% - 30px);
		}
	}
	.vk_selectPostList-edit-col-xxl-3 {
		.wp-block {
			width: calc(25% - 30px);
		}
	}
	.vk_selectPostList-edit-col-xxl-2 {
		.wp-block {
			width: calc(16.6667% - 30px);
		}
	}
}
