/* 
コア側のブロックcssを上書き用のファイルです 
--------------------------------------------*/

.edit-post-visual-editor {
	//ソーシャルアイコン
	.vk_card_item .block-editor-inner-blocks .block-editor-block-list__layout,//これがないとカード内のインナーブロックで効かない
	.wp-block-social-links{
		.wp-block.wp-social-link{
			width: auto;
			margin: 0 8px .8em 0;
		}
	}
}

