/* 
コア側のブロックcssを上書き用のファイルです 
--------------------------------------------*/

.edit-post-visual-editor.editor-styles-wrapper {
	//ソーシャルアイコン
	.vk_card_item .block-editor-inner-blocks .block-editor-block-list__layout,//これがないとカード内のインナーブロックで効かない
	.wp-block-social-links{
		&.is-style-default,
		&.is-style-logos-only{
			.wp-block{
				&.wp-social-link{
						width: 36px;
						height: 36px;
						margin: 0 8px 0 0;
					}
			}
		}
	}
}

