.wp-block[data-type="vk-blocks/balloon"]::after{
	content: "";
	display: block;
	clear: both;
}
.editor-styles-wrapper {
	.vk_balloon{
		figure,
		p.wp-block{
			width: 100%;
		}
		&_icon{
			button.image-button {
				height: auto;
			}
			&_image{
				width: 64px;
				height: 64px;
				max-width: initial;
			}
		}
	}
}

.block-editor-block-list__block .block-list-appender{
	// margin: inherit;
}

.icon-image-list {
	display: flex;
	flex-wrap: wrap;
}

.icon-image-list div {
	width: calc((100% - (10px * 4)) / 5);
	margin: 5px;
}

.icon-image-list div:nth-child(5n + 1) {
	margin-left: 0;
}

.icon-image-list div:nth-child(5n) {
	margin-right: 0;
}

.wp-core-ui .icon-image-list .button.button-large {
	padding: 0;
	margin: 0;
	width: 40px;
	height: 40px;
	object-fit: cover;
	border-radius: 50%;
	img{
		width: 38px;
		height: 38px;
		object-fit: cover;
		border-radius: 50%;
	}
}
