.wp-block.vk_prBlocks,
.wp-block.vk_posts {
	margin-left: auto;
	margin-right: auto;
}

.vk_tableOfContents_openCloseBtn {
	display: block;
}

/* 固定ページブロック調整用 */
.vk_pageContent {
	.vk_buttons > .vk_buttons_col,
	.vk_icons > .vk_icons_col {
		display: flex;
		margin-left: -8px;
	}
}

/* .vk_hidden.vk_hidden は2つじゃないと上書きできない  */
.vk_hidden {
	display: block !important;
	color: var(--blue);

  &.vk_posts{
	// display block だとカラムがすべて落ちるため posts は flexで上書き
	display: flex !important;
  }
  @media (max-width: $xs-max) {
    &-xs {
	  display: block !important;
	  &.vk_posts{
		// display block だとカラムがすべて落ちるため posts は flexで上書き
		display: flex !important;
	  }
    }
  }
  @media (min-width: $sm-min) and (max-width: $sm-max) {
    &-sm {
	  display: block !important;
	  &.vk_posts{
		// display block だとカラムがすべて落ちるため posts は flexで上書き
		display: flex !important;
	  }
    }
  }
  @media (min-width: $md-min) and (max-width: $md-max) {
    &-md {
	  display: block !important;
	  &.vk_posts{
		// display block だとカラムがすべて落ちるため posts は flexで上書き
		display: flex !important;
	  }
    }
  }
  @media (min-width: $lg-min) and (max-width: $lg-max) {
    &-lg {
	  display: block !important;
	  &.vk_posts{
		// display block だとカラムがすべて落ちるため posts は flexで上書き
		display: flex !important;
	  }
    }
  }
  @media (min-width: $xl-min) {
    &-xl {
	  display: block !important;
	  &.vk_posts{
		// display block だとカラムがすべて落ちるため posts は flexで上書き
		display: flex !important;
	  }
    }
  }
  @media (min-width: $xxl-min) {
    &-xxl {
	  display: block !important;
	  &.vk_posts{
		// display block だとカラムがすべて落ちるため posts は flexで上書き
		display: flex !important;
	  }
    }
  }
}
}

@import "./editor_after_admin_sidebar";