/*-------------------------------------------*/
/* FontAwesome Popover
/*-------------------------------------------*/
.vk-blocks-advanced-popover-control {
	.components-popover__content {
		padding: 20px 15px;
		.vk_icon_list {
			margin-top: 5px;
			.components-base-control__field {
				display: flex;
				flex-wrap: wrap;
				.components-radio-control__option {
					border: 1px solid #666;
					width: 38px;
					height: 38px;
					border-radius: 3px;
					margin-right: 7px;
					position: relative;
					input {
						display: none;
					}
					i {
						font-size: 1.5em;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translateY(-50%) translateX(-50%);
					}
				}
			}
		}
	}
}
