.wp-block.vk_prBlocks,
.wp-block.vk_posts {
	margin-left: auto;
	margin-right: auto;
}

.vk_tableOfContents_openCloseBtn {
	display: block;
}

/* 固定ページブロック調整用 */
.vk_pageContent {
	.vk_buttons > .vk_buttons_col,
	.vk_icons > .vk_icons_col {
		display: flex;
		margin-left: -8px;
	}
}

/* .vk_hidden.vk_hidden は2つじゃないと上書きできない  */
.vk_hidden {
	display: block !important;
	color: var(--blue);

	&.vk_balloon,
	&.vk_posts{
		// display block だとカラムがすべて落ちるため posts と balloon は flexで上書き
		display: flex !important;
	}
	@media (width < $xs) {
		&-xs {
			display: block !important;

			&.vk_balloon,
			&.vk_posts{
				// display block だとカラムがすべて落ちるため posts と balloon は flexで上書き
				display: flex !important;
			}
		}
	}
	@media ($xs <= width < $sm) {
		&-sm {
			display: block !important;

			&.vk_balloon,
			&.vk_posts{
				// display block だとカラムがすべて落ちるため posts と balloon は flexで上書き
				display: flex !important;
			}
		}
	}
	@media ($sm <= width < $md) {
		&-md {
	  		display: block !important;

			  &.vk_balloon,
			&.vk_posts{
				// display block だとカラムがすべて落ちるため posts と balloon は flexで上書き
				display: flex !important;
	  		}
		}
  	}
  	@media ($md <= width < $lg) {
		&-lg {
			display: block !important;

			&.vk_balloon,
			&.vk_posts{
				// display block だとカラムがすべて落ちるため posts と balloon は flexで上書き
				display: flex !important;
			}
		}
	}
  	@media (width >= $lg) {
		&-xl {
			display: block !important;
	  		&.vk_posts{
				// display block だとカラムがすべて落ちるため posts と balloon は flexで上書き
				display: flex !important;
			}
		}
	}
	@media (width >= $xl) {
		&-xxl {
			display: block !important;

			&.vk_balloon,
			&.vk_posts{
				// display block だとカラムがすべて落ちるため posts と balloon は flexで上書き
				display: flex !important;
			}
		}
	}
}
}

@import "./editor_after_admin_sidebar.scss";