/*-------------------------------------------*/
/* FontAwesome Popover
/*-------------------------------------------*/
.vk-blocks-advanced-popover-control {
	.components-popover__content {
		min-width: 260px;
		margin-left: -46px !important;
		padding: 20px 15px;
		.vk_icon_list {
			margin-top: 5px;
			.components-base-control__field,
			.components-flex {
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				gap: 0;
				justify-content: left;
				.components-radio-control__option {
					border: 1px solid #666;
					width: 36px;
					height: 36px;
					border-radius: 3px;
					margin-right: 7px;
					position: relative;
					input {
						display: none;
					}
					.svg-inline--fa,
					i {
						font-size: 1.5em;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translateY(-50%) translateX(-50%);
					}
				}
				.components-radio-control__option:not(:last-child) {
					margin-bottom: 4px;
				}					
			}
		}
	}
}
