/*-------------------------------------------*/
/* 管理画面
/*-------------------------------------------*/
.edit-post-visual-editor {
	/* vk_width-full は廃止になったが互換処理のために 2022年7月末までは残す */
	.vk_slider.vk_swiper.vk_slider.vk_swiper.vk_width-full,
	.vk_slider.vk_swiper.vk_slider.vk_swiper.alignfull {
		max-width: 100vw;
		.vk_slider_item {
			max-width: 100vw;
		}
	}
	.vk_slider.vk_swiper.vk_slider.vk_swiper.alignwide,
	.vk_slider.vk_swiper.vk_slider.vk_swiper.alignfull {
		.vk_slider_item {
			&.vk_slider_item-paddingLR-use,
			&.vk_slider_item-paddingLR-zero{
				.vk_slider_item_container{
						max-width:100%;
					.wp-block:where(:not(.is-layout-constrained)){
						max-width:100%;
					}
				}
			}
		}
	}
}
