
.vk_block_icon_pro {
fill:#c00;
}
.editor-block-list-item-vk-blocks-outer:after,
.editor-block-list-item-vk-blocks-table-of-contents:after,
.editor-block-list-item-vk-blocks-simple-table:after{
position: absolute;
top: 0;
right: 0;
content: "Pro";
display: inline-block;
font-size: 10px;
line-height: 1;
color: #fff;
background-color: #cd3034;
border-radius: 2px;
padding: 3px 4px;
}

.components-base-control__label {
	 font-weight:bold;
}
.components-base-control .components-base-control__help {
	margin-top:0;
}
.components-radio-control__option label { margin-bottom:0; }
.components-checkbox-control__label { margin-bottom:0; }
.components-color-palette { display:block; overflow:hidden; }

// これがないと rem 指定してる見出しなどが大きくなりすぎる
// 見出しがrem指定なのは今後画面サイズによって html の font size を可変にして 見出しサイズも自動可変させるため
html {
font-size:10px;
}

/*スライダーを表示。デフォルトだとbootstrapに非表示にされてしまう*/
input[type=range] {
    margin: 1px;
}

/* editor area *********************************************/
.edit-post-visual-editor.editor-styles-wrapper{



/* これがないとGutenberg標準のエディタCSSに負ける */
h1:first-child.vk_prBlocks_item_title{
	margin-top:0.9em;
}

/* メインのカラム幅 */
.wp-block,
.editor-block-list__layout > .wp-block {
		max-width:calc( 100% - 20% );
		.wp-block {
			max-width:100%;
		}
}

@media (min-width: 600px){
.wp-block-columns {
	margin-left:-15px;
	margin-right:-15px;
}
.wp-block-column {
	flex-basis: auto;
	margin-left:15px;
	margin-right:15px;
	width: calc( 50% - 30px ) ;
	&:not(:first-child),
	&:not(:last-child),
	&:nth-child(odd){
		margin-left:15px;
		margin-right:15px;
	}
}
}

.alert{

  padding: 1em;
  margin: 1em 0;
  border-radius: 3px;

  & + &{
    margin-top: 2em;
  }

  a{
    transition: color .3s linear, opacity .3s linear;
    &:link, &:visited{
      opacity: .8;
      text-decoration: underline;
    }
    &:hover, &:visited{
      opacity: 1;
      text-decoration: none;
    }
  }

  @each $var in (
                  (success, #dff0d8,#3c763d,#d6e9c6),
                  (info, #d9edf7,#31708f,#bce8f1),
                  (warning, #fcf8e3,#8a6d3b,#faebcc),
                  (danger, #f2dede,#a94442,#ebccd1),
  ){
    $class-name: nth($var, 1);
    $color-bg: nth($var, 2);
    $color: nth($var, 3);
    $color-border :nth($var, 4);
    &-#{$class-name}{
      background-color: $color-bg;
      color:$color;
      border-color:$color-border;
    }
  }
}

.vk_balloon {
  display: flex;
  align-items: center;
	margin-bottom:1em;
	figure{
    margin:0;
  }
	p {
		word-break: break-all;
		background: #f5f5f5;
		padding:1.1rem 1.4rem;
	}
}
.vk_balloon_icon {
	flex-basis: 96px;
	flex-shrink: 0;
	text-align: center;
}
.vk_balloon_icon_image {
	vertical-align: bottom;
	max-width: 64px;
}
.vk_balloon_icon_name {
	display: block;
	text-align: center;
	font-size: 0.7rem;
	margin-top:0.2rem;
}
.vk_balloon_content{
	position: relative;
	text-align: left;
	&.editor-rich-text__tinymce[data-is-placeholder-visible=true] {
		// これがないと未入力時に吹き出しが２重になる
		position: absolute;
	}
}

/*	type
/*-------------------------------------------*/
.vk_balloon-type-serif{
	.vk_balloon_content{
		border-color: #f5f5f5;
		border-radius: .4em;
		&::after{
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			border: 20px solid transparent;
		}
	}
}
.vk_balloon-type-think{
	.vk_balloon_content{
		border-radius: 2rem;
		&::before,
		&::after{
			position: absolute;
			content: '';
			border-radius: 50%;
			background: inherit;
		}
		&::before{
			width: 20px;
			height: 20px;
		}
		&::after{
			width: 10px;
			height: 10px;
		}
	}
}

/*	position
/*-------------------------------------------*/
.vk_balloon-position-left{
	&.vk_balloon-type-serif{
		.vk_balloon_icon{
			margin-right: 2rem;
		}

		.vk_balloon_content{
			&::after{
				left: 0;
				top: 50%;
				border-right-color: inherit;
				border-left: 0;
				margin-top: -20px;
				margin-left: -20px;
			}
		}
	}

	&.vk_balloon-type-think{
		.vk_balloon_icon{
			margin-right: 2.5rem;
		}

		.vk_balloon_content{
			&::before{
				left: -22px;
				top: 7px;
			}

			&::after{
				left: -35px;
				top: 20px;
			}
		}
	}
}//.vk_balloon-position-left
.vk_balloon-position-right{
	flex-direction: row-reverse;
	&.vk_balloon-type-serif{
		.vk_balloon_icon{
			margin-left: 2rem;
		}

		.vk_balloon_content{
			&::after{
				right: 0;
				top: 50%;
				border-left-color: inherit;
				border-right: 0;
				margin-top: -20px;
				margin-right: -20px;
			}
		}
	}

	&.vk_balloon-type-think{
		.vk_balloon_icon{
			margin-left: 2.5rem;
		}

		.vk_balloon_content{
			&::before{
				right: -22px;
				top: 7px;
			}

			&::after{
				right: -35px;
				top: 20px;
			}
		}
	}
}//.vk_balloon-position-right


.vk_balloon {
  &.animation-vibration{
    .vk_balloon_content{
      display: inline-block;
      animation: vibration .1s  infinite;
    }
  }
}

/**
 Animation Vibration
 */
@keyframes vibration {
  0% {transform: translate(0px, 0px) rotateZ(0deg)}
  25% {transform: translate(2px, 2px) rotateZ(1deg)}
  50% {transform: translate(0px, 2px) rotateZ(0deg)}
  75% {transform: translate(2px, 0px) rotateZ(-1deg)}
  100% {transform: translate(0px, 0px) rotateZ(0deg)}
}

/*********************
* SmartPhone
0px - 480px
***********************/


@media only screen and (max-width: 480px) {
	.vk_balloon_content{
		font-size: .9em;
	}
	.vk_balloon-type-serif {
		.vk_balloon_content{
			&::after {
				border: 15px solid transparent;
			}
		}
	}
	.vk_balloon-type-think {
		.vk_balloon_content{
			&::after {
				border: 5px solid transparent;
			}
		}
	}

  .vk_balloon{
    align-items: normal;
    &.vk_balloon-position-left{
      &.vk_balloon-type-serif{
      	.vk_balloon_icon{
      		max-width:86px;
			margin-right: 1.5rem;
		}//.vk_balloon_icon
        .vk_balloon_content{
          display: inline-block;
          &::after{
            top: 35px;
             margin-left: -15px;
          }
        }//.vk_balloon_content
      }//&.vk_balloon-type-serif

      &.vk_balloon-type-think{
      	.vk_balloon_icon{
			margin-right: 2rem;
			max-width: 86px;
		}
				.vk_balloon_content{
					display: inline-block;

					&::before{
						width: 15px;
						height: 15px;
					}
        }
      }
    }//&.vk_balloon-position-left

    &.vk_balloon-position-right{
      text-align: right;

			&.vk_balloon-type-serif{
				.vk_balloon_icon{
				  margin-left: auto;
				  margin-right: 0;
				}

				.vk_balloon_content{
				  display: inline-block;
				  &::after{
				    top: 35px;
					margin-right: -15px;
				  }
				}
			}//&.vk_balloon-type-serif

			&.vk_balloon-type-think{
				.vk_balloon_icon{
				  margin-left: 2rem;
				  margin-right: 0;
				  max-width:86px;
				}

				.vk_balloon_content{
					display: inline-block;
				}
			}//&.vk_balloon-type-think
		}//.vk_balloon-position-right
	}//.vk_balloon

	.vk_balloon_icon{
		max-width:96px;
	}
} // @media only screen and (max-width: 480px) {

.vk_button{
	margin: 5px 0;
	&-color-custom{
		a:hover{
			opacity: 0.8;
			box-shadow: 0 0 0 0.2rem rgba(171, 184, 195, .25) ;
		}
	}
	&-align{
		&-left{
			text-align: left;
		}
		&-center{
			text-align: center;
		}
		&-right{
			text-align: right;
		}
		&-block{
			display: block;
		}
	}
	&_link{
		&.btn { // .btn指定がないと管理画面で標準の .btn の指定に負ける
			padding-top: .7em;
			padding-bottom: .6em;
		}
		&_before{ margin-right: 0.7rem; }
		&_after{ margin-left: 0.7rem; }
		&_subCaption{
			display:block; overflow:hidden;
			margin: 0;
			font-size: 80%;
		}
	}
	.editor-rich-text{
		display: inline-block;
	}
}


/*-------------------------------------------*/
/*	Lightnig がまだ Bootstrap4 でないため手動で追加したクラス
/*	Lighnting が 4 を同梱したら削除して化
/*-------------------------------------------*/
$color_primary:#007bff;
$color_secondary:#6c757d;
$color_success:#28a745;
$color_info:#17a2b8;
$color_warning:#ffc107;
$color_danger:#dc3545;
$color_light:#f8f9fa;
$color_dark:#343a40;
/* .btn がないと標準のBS4の指定に負ける */
.btn.btn-primary{
	color:#fff;
}
.btn.btn-secondary{
	color:#fff;
	background-color: $color_secondary;
}
.btn.btn-success{
	color:#fff;
}
.btn.btn-info{
	color:#fff;
}
.btn.btn-warning{
	color:#fff;
}
.btn.btn-danger{
	color:#fff;
}
.btn.btn-light{
	color:#fff;
	background-color: $color_light;
}
.btn.btn-dark{
	color:#fff;
	background-color: $color_dark;
}

.btn.btn-secondary:hover,
.btn.btn-dark:hover{
	color:#fff;
}

/* .btn がないと標準のBS4の指定に負ける */
.btn.btn-outline-primary{
	color:$color_primary;
	border:1px solid $color_primary;
	background: none;
	box-shadow: none;
}
.btn.btn-outline-secondary{
	color: $color_secondary;
	border:1px solid $color_secondary;
	background: none;
	box-shadow: none;
}
.btn.btn-outline-success{
	color: $color_success;
	border:1px solid $color_success;
	background: none;
	box-shadow: none;
}
.btn.btn-outline-info{
	color: $color_info;
	border:1px solid $color_info;
	background: none;
	box-shadow: none;
}
.btn.btn-outline-warning{
	color: $color_warning;
	border:1px solid $color_warning;
	background: none;
	box-shadow: none;
}
.btn.btn-outline-danger{
	color: $color_danger;
	border:1px solid $color_danger;
	background: none;
	box-shadow: none;
}
.btn.btn-outline-light{
	color: $color_light;
	border:1px solid $color_light;
	background: none;
	box-shadow: none;
}
.btn.btn-outline-dark{
	color: $color_dark;
	border:1px solid $color_dark;
	background: none;
	box-shadow: none;
}

.btn.btn-outline-primary:hover,
.btn.btn-outline-primary:focus{
	background:$color_primary;
	color:#fff;
}
.btn.btn-outline-secondary:hover,
.btn.btn-outline-secondary:focus{
	background: $color_secondary;
	color:#fff;
}
.btn.btn-outline-success:hover,
.btn.btn-outline-success:focus{
	background: $color_success;
	color:#fff;
}
.btn.btn-outline-info:hover,
.btn.btn-outline-info:focus{
	background: $color_info;
	color:#fff;
}
.btn.btn-outline-warning:hover,
.btn.btn-outline-warning:focus{
	background: $color_warning;
	color:#fff;
}
.btn.btn-outline-danger:hover,
.btn.btn-outline-danger:focus{
	background: $color_danger;
	color:#fff;
}
.btn.btn-outline-light:hover,
.btn.btn-outline-light:focus{
	background: $color_light;
	color:#fff;
}
.btn.btn-outline-dark:hover,
.btn.btn-outline-dark:focus{
	background: $color_dark;
	color:#fff;
}

/*      .qaItem
/*-------------------------------------------*/
.vk_faq { display:block; overflow:hidden;border-bottom:1px dotted #ccc; padding:0px 0px 25px; margin:25px 0px; width:100%; position: relative; }
.vk_faq_title,
.vk_faq_content {
	border:none;padding-left: 35px;
	&:before {
		position: absolute;left:0;font-size:24px;line-height: 105%;
	}
}
.vk_faq_title { margin-bottom:15px;font-size:18px;font-weight:700;
  &:before { font-family:"areal";content:"Q ";color:#e50000; }
}
.vk_faq_content { margin:0px;
  &:before { content:"A ";color:#337ab7;font-family: "" }
}

//*      .flowBox
/*-------------------------------------------*/
.vk_flow-arrow-on:after {
  content:"";
  background: url('../images/arrow_bottom.svg') center 50% no-repeat;
  background-size: 50px 50px;
  display:block; overflow:hidden;
  height:50px;
  width:50px;
  margin:0 auto;
}
.vk_flow-arrow-off  { padding-bottom:0px; margin-bottom:30px; }
.vk_flow-arrow-off:after {
  content:"";font-size:0;background-image: none;
}
.vk_flow_frame {
	display: flex;
	padding:20px 25px; border:3px solid #e5e5e5;margin:0;
	justify-content: space-between;
}
.vk_flow_frame_text  { display:block;overflow:hidden;margin:0;width:100%;box-sizing: border-box; }
.vk_flow_frame_text_title,
.vk_flow_frame_text_content { padding-left:0;border:none; }
.vk_flow_frame_text_title { border-bottom:1px dotted #ccc; margin:0 0 10px;padding:0 0 5px; font-size:1.2em; }
.vk_flow_frame_text_content { margin-bottom:0px; }
.vk_flow_frame_image {
	max-width:150px;
	margin-left:15px;
	box-sizing: border-box;
}

/*-------------------------------------------*/
/* CSS
/*-------------------------------------------*/
@mixin reset() {
	background: none;
	border:none;
	border-radius: 0;
	padding:0;
	font-weight: normal;
	box-shadow:none;
	&:after {
		border:none;
	}
}

.vk_heading_title {
	&-style {
		&-plain {
			@include reset;
		}
	}
}
.vk_heading_subtext {
	margin-bottom:0;
}

/*-------------------------------------------*/
/* CSS
/*-------------------------------------------*/
$media-sm-up : 576px;
$media-md-up : 768px;
$media-lg-up : 992px;
$media-xl-up : 1200px;
$media-sm-down : 575.98px;
$media-md-down : 767.98px;
$media-lg-down : 991.98px;
$media-xl-down : 1199.98px;
.vk_outer{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  .vk_outer_container{
    min-height: 40px;
  }
}
.vk_outer-width-full {
	margin-left:calc(50% - 50vw);
	margin-right:calc(50% - 50vw);
  padding-left:calc(50vw - 50%);
  padding-right:calc(50vw - 50%);
}
$padding-none:1.5em;
$padding-sm:2em;
$padding-md:2.5em;
$padding-lg:3em;
$padding-xl:3.5em;
.vk_outer-paddingLR-use{
  padding-left: $padding-none ;
	padding-right: $padding-none ;
	@media ( min-width: $media-sm-up ){
		padding-left: $padding-sm ;
		padding-right: $padding-sm ;
	}
	@media ( min-width: $media-md-up ){
		padding-left: $padding-md ;
		padding-right: $padding-md ;
	}
	@media ( min-width: $media-lg-up ){
		padding-left: $padding-lg ;
		padding-right: $padding-lg ;
	}
	@media ( min-width: $media-xl-up ){
		padding-left: $padding-xl ;
		padding-right: $padding-xl ;
	}
}
.vk_outer-paddingVertical-use{
	padding-top: $padding-none ;
	padding-bottom: $padding-none ;
	@media ( min-width: $media-sm-up ){
		padding-top: $padding-sm ;
		padding-bottom: $padding-sm ;
	}
	@media ( min-width: $media-md-up ){
		padding-top: $padding-md ;
		padding-bottom: $padding-md ;
	}
	@media ( min-width: $media-lg-up ){
		padding-top: $padding-lg ;
		padding-bottom: $padding-lg ;
	}
	@media ( min-width: $media-xl-up ){
		padding-top: $padding-xl ;
		padding-bottom: $padding-xl ;
	}
}

.vk_outer-bgPosition-fixed{
  background-attachment: fixed !important;
	background-size: cover !important;
}
.vk_outer-bgPosition-normal{
  background-attachment: unset !important;
	background-size: cover !important;
}

.vk_outer_separator {
	svg {
		display: block;
		max-height: 100px;
		position: absolute;
		left: 0;
		width: 100%;
	}
}
.vk_outer_separator-position-upper{
  svg{
    top: 0;
    transform: rotate(180deg);
  }
}
.vk_outer_separator-position-lower{
  svg{
    bottom: 0;
  }
}

.vk_outer .editor-block-list__block {
	margin: 0;
}
// .editor-block-list__block-edit{
//   margin: 0!important;
// }

/*-------------------------------------------*/
/* .vk_prBlocks
/*-------------------------------------------*/
.vk_prBlocks_item {
	@media screen and (max-width:992px){
		margin-bottom: 1.5em;
	}
}
.vk_prBlocks_item {
	&_link {
		color: #333;
		&:hover{
			color: #333;
			text-decoration: none;
		}
	}
	&_icon_outer {
		display: block;
		position:relative;
		margin: 0 auto ;
		width: 80px;
		height: 80px;
		border-radius: 50%;
	}
	&_icon {
		position:absolute;
		top:50%;
		left:50%;
		transform: translateY(-50%) translateX(-50%);
		font-size: 36px;
		color: #fff;
	}
	&_title{
		margin-top:0.9em;
		margin-bottom: 0.6em;
		text-align: center;
		font-size: 21px;
		line-height: 1.4em;
		border:none;
		padding:0;
		&::after{
			border: none;
		}
	}
	&_image{
		position: relative;
		display: block;
		width: 120px;
		height:120px;
		margin: 0 auto;
		overflow: hidden;
		border-radius: 50%;
		text-indent:-9999px;
	}
	&_summary{
		margin-bottom: 0.5em;
		text-align: center;
		line-height: 1.8em;
	}
}

/*-------------------------------------------*/
/* Layout
/*-------------------------------------------*/
.vk_prContent {
	margin-left:-15px;
	margin-right:-15px;
 @media (min-width: 576px) {
	 display: flex;
	 .col-sm-6 {
		 width:50%;
	 }
	 &-layout {
		&-imageLeft {
			flex-direction: row;
		}

		&-imageRight {
			flex-direction: row-reverse;
		}

		&-imageLeft .vk_prContent_colImg {
			padding-right: 2em;
		}

		&-imageRight .vk_prContent_colImg {
			padding-left: 2em;
		}
	 }
	} // @media (min-width: 768px) {
}


/*-------------------------------------------*/
/* others
/*-------------------------------------------*/
.vk_prContent {
	&_colTxt {
		vertical-align: top;;
		&_title {
			background-color: transparent;
			font-weight: bold;
			padding: 0;
			box-shadow: none;
			border: none;
			margin-bottom:0.8em;
			@media (max-width: 575.98px) {
				&:first-child{
					margin-top: 30px;
				}
			}
		&:after {
			content: "";
				line-height: 0;
				display: block;
				overflow: hidden;
				position: absolute;
				bottom: -1px;
				width: 0;
				border: none;
			}
		}
	  &_text {
			line-height: 2em;
			margin-bottom:1.7em;
	  }
	  &_btn.btn {
			@media (min-width: 992px) {
		 	 font-size:16px;
		 	}
	  }
	} // &_colTxt {
	&_colImg{
		&_image {
			max-width: 100%;
			height: auto;
		}
		.components-button.button{
			margin: 1em;
		}
		.components-button.image-button {
			margin: 0;
		}
	}
} // .vk_prContent {

/*-------------------------------------------*/
/* CSS
/*-------------------------------------------*/

.vk_table {
	&-col-mobile1 {
		@media( max-width: 575.98px){
			th,
			td {
					display: block;
			}
			th {
				background-color: rgba(0, 0, 0, 0.05);
			}
			// ストライプ指定の時の背景色をリセット
			&.table-striped tbody {
				tr:nth-of-type(odd) {
					background: inherit;
				}
			}
		} // @media( max-width: 575.98px){
	} // &-col-mobile1 {
}

/*-------------------------------------------*/
/* editor class
/*-------------------------------------------*/
.vk_simpleTable-edit{
	.editor-inner-blocks,
	.editor-block-list__layout,
	.editor-block-list__block,
	.editor-rich-text__editable,
	.editor-block-list__block-edit{
		padding:0;
		margin:0;
		width:100%;
	}
	& > .editor-inner-blocks{
		margin-top:-1px; // th,td がHTML上ではdivの中になってしまう都合上、線が2pxになるためマイナスオフセット
	}
	.editor-block-list__block-edit{
		height:100%;
	}
	.block-editor-block-list__insertion-point{
		/* 上のセルに被るので選択しにくくなるのでデフォルトのマイナスオフセットを少し下げる */
		top:-5px;
	}
	.editor-block-list__block-edit:before{
		right:-0px;
		left:-0px;
		top:-0px;
		bottom:-0px;
		// border:1px solid #ff0000;
	}
	.editor-inner-blocks {
		tr {
			width:100%;
			display: block;
			border-bottom:1px solid #e5e5e5;
			.editor-block-list__layout {
				display: flex;
				.editor-block-list__block {
				}
			}
		}
		th,
		td {
			padding: 0;
			display: block;
			width:100%;
			border:none; // デフォルトでつけてくる線を消す
			.editor-rich-text__editable{
				padding: 14px;
			}
		}
	}
	// 編集画面のtableは HTML構造がカオスなので補正
	&.table-striped > tbody > .editor-inner-blocks > .editor-block-list__layout > div:nth-of-type(odd) {
			background-color: rgba(0, 0, 0, 0.05);
	}
}

/*-------------------------------------------*/
/* CSS
/*-------------------------------------------*/

@mixin switchVisibility($pc,$tablet,$mobile) {
  .vk_spacer {
    .vk_spacer-display-pc {
      display: $pc;
    }

    .vk_spacer-display-tablet {
      display: $tablet;
    }

    .vk_spacer-display-mobile {
      display: $mobile;
    }
  }
}

// Small devices (landscape phones, 576px以下)
@media (max-width: 576px) {
  @include switchVisibility(none, none, block);
}

// Medium devices (tablets, 577pxから768px)
@media (min-width: 577px) and (max-width: 768px) {
  @include switchVisibility(none, block, none);
}

// Large devices (desktops, 769px以上)
@media (min-width: 769px) {
  @include switchVisibility(block, none, none);
}
/*-------------------------------------------*/
/* CSS
/*-------------------------------------------*/
$font_serif:"ＭＳ Ｐ明朝", "MS PMincho","ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "serif";

// Layout
.vk_staff{
	&_text{
		float:left;
		width: 61.6%;
	}
	&_photo {
		float:right;
		width: 32%;
	}
	&-layout-imageLeft {
		.vk_staff_text{
			float:right;
		}
		.vk_staff_photo{
			float:left;
		}
	}
}

//
.vk_staff {
	display:block;
	overflow:hidden;
	&_text{
		&_name {
			text-align: left;
			box-shadow: none;
			font-size: 3.5rem;
			font-family: $font_serif;
			line-height: 1.0;
			margin-bottom: 0.5rem;
			border: none;
			padding: 0;
			background-color: transparent;
			&:before,
			&:after {
				border: none;
			}
		}

		&_caption {
			font-family: $font_serif;
			font-size: 14px;
			display: block;
			margin: 0 0 0.5rem 4px;
			letter-spacing: 5px;
		}
		&_role {
			font-size: 14px;
			line-height: 1.6em;
			font-family: $font_serif;
		}
		&_profileTitle{
			font-size: 18px;
			font-family: $font_serif;
			padding-top: 0;
			padding-left: 0;
			padding-bottom: 2px;
			margin-bottom: 1.2rem;
			border-top: none;
			border-bottom: 1px solid #ccc;
			background: none;
			&:before,
			&:after {
				border: none;
			}
		}
		&_profileText {
			font-size: 14px;
		}
	}
	&_photo {
		display: block;
		vertical-align: top;
		text-align: center;
		button {
			width:100%;
		}
		.image-button{
			padding: 0;
			margin:0;
			display: block;
		}
		&-border-default {
			border: 4px solid #efefef;
			padding: 1px;
		}
		&-border-none {
			border: none;
		}
		&_image {
			width: 100%;
			margin: 0;
			display: block;
		}
	}
}


// Lightning で幅広の１カラムテンプレート時補正
.page-template-page-onecolumn,
.page-template-page-lp,
.page-template-page-lp-builder {
	.vk_staff{
		@media ( min-width: 992px ){
			&_text{
				width: 74%;
				&_name {
					font-size: 4rem;
				}
				&_caption {
					font-size: 16px;
					letter-spacing: 0.5rem;
				}
				&_role {
					letter-spacing: 0.5rem;
				}
			}
			&_photo {
				width: 22%;
			}
		}
		@media ( min-width: 1200px ){
			&_text{
				width: 75%;
			}
			&_photo {
				width: 20%;
			}
		}
	}
}

// .staff-profile-table {
// 	margin-top: 2em;
// 	margin-bottom: 80px;
// 	border: none;
// }
//
// .staff-profile-table dl {
// 	display: table;
// 	width: 100%;
// }
//
// .staff-profile-table dt,
// .staff-profile-table dd {
// 	display: table-cell;
// 	border-bottom: 1px solid #ccc;
// 	padding-left: 10px;
// 	font-size: 14px;
// 	padding-bottom: 4px;
// }
//
// .staff-profile-table dl {
// 	margin: 0 0 1rem;
// }
//
// .staff-profile-table dt {
// 	background: none;
// 	font-weight: lighter;
// 	border-left-width: 2px;
// 	border-left-style: solid;
// 	width: 30%;
// }
//
// .staff-profile-table dd {
// 	border-left: none;
// 	width: 70%;
// }

/*-------------------------------------------*/
/* CSS
/*-------------------------------------------*/
$toc-left-margin: 1rem;

.vk_tableOfContents {
	margin-top:3.5em;
	margin-bottom:3.5em;
	&-style-default{
		border:3px solid rgba(0,0,0,0.04);
		box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);
		background-color: rgba(0,0,0,0.015);
		padding: 3rem 4rem;
	}
	&_title{
		text-align: center;
		font-size: 1.2em;
		letter-spacing: 0.5em;
	}
	li {
		margin:0;
	}
	&_list{
		padding:0;
		margin-top:1em;
		&_item {
			list-style: none;
			border-bottom:1px solid #e5e5e5;
			padding:0.8rem 0;
			&-h-2 {
				// padding-left:$toc-left-margin;
			}
			&-h-3 {
				padding-left:$toc-left-margin * 1;
			}
			&-h-4 {
				padding-left:$toc-left-margin * 2;
			}
			&-h-5 {
				padding-left:$toc-left-margin * 3;
			}
			&-h-6 {
				padding-left:$toc-left-margin * 4;
			}
			&_link{
				color:#333;
				border-bottom:1px solid #ccc;
				&:hover{
					text-decoration: none;
					border-bottom: none;
				}
			}
		}
	}
}



.editor-styles-wrapper{
	// .vk_tableOfContents {
	// 	ul {
	// 		margin-top:0;
	// 		margin-bottom:0;
	// 	}
	// 	.list-group-item{
	// 		border: none;
	// 	}
	// }
  // ul{
  //   list-style: none !important;
  //   li.vk_tableOfContents_list_item-h3{
  //     margin-left: $toc-left-margin;
  //   }
  //   li.vk_tableOfContents_list_item-h4{
  //     margin-left: $toc-left-margin * 2;
  //   }
  //   li.vk_tableOfContents_list_item-h5{
  //     margin-left: $toc-left-margin * 4;
  //   }
  //   li.vk_tableOfContents_list_item-h6{
  //     margin-left: $toc-left-margin * 6;
  //   }
  //   ul{
  //     list-style: none !important;
  //   }
  // }
}

/*-------------------------------------------*/
/* CSS
/*-------------------------------------------*/
.vk_table-col-overflow {
  white-space: nowrap !important;
}
/*# sourceMappingURL=style.scss.map */

/*-------------------------------------------*/
/* CSS
/*-------------------------------------------*/

}
