.edit-post-visual-editor{

.alert{

  padding: 1em;
  margin: 1em 0;
  border-radius: 3px;

  & + &{
    margin-top: 2em;
  }

  a{
    transition: color .3s linear, opacity .3s linear;
    &:link, &:visited{
      color: #fff;
      opacity: .8;
      text-decoration: underline;
    }
    &:hover, &:visited{
      color: #fff;
      opacity: 1;
      text-decoration: none;
    }
  }

	@each $var in (
									(success, #dff0d8,#3c763d,#d6e9c6),
									(info, #d9edf7,#31708f,#bce8f1),
									(warning, #fcf8e3,#8a6d3b,#faebcc),
									(danger, #f2dede,#a94442,#ebccd1),
								){
		$class-name: nth($var, 1);
		$color-bg: nth($var, 2);
		$color: nth($var, 3);
		$color-border :nth($var, 4);
		&-#{$class-name}{
			background-color: $color-bg;
			color:$color;
			border-color:$color-border;
		}
	}
}

.wp-block-vk-blocks-balloon {
  display: flex;
  align-items: center;

  figure{
    margin:0;
  }

  figcaption{
    display: block;
    text-align: center;
    font-size: 0.7rem;
    margin-top:0.2rem;
  }

  p{
    word-break: break-all;

    &.text{
      position: relative;
      text-align: left;
    }
  }

  .image{
    flex-basis: 96px;
    flex-shrink: 0;
    text-align: center;

    img.icon-image{
      vertical-align: bottom;
      max-width: 64px;
    }
  }

  &.animation-vibration{
    p{
      display: inline-block;
      animation: vibration .1s  infinite;
    }
  }

  &.type-serif{
    p{
      background: #f5f5f5;
      border-color: #f5f5f5;
      border-radius: .4em;
      padding:1.1rem 1.4rem;
      margin:1.5rem 0;

      &::after{
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border: 20px solid transparent;
      }
    }
  }

  &.type-think{
    p{
      background: #f5f5f5;
      border-radius: 2rem;
      padding:1.1rem 1.4rem;
      margin:1.5rem 0;

      &::before{
        position: absolute;
        content: '';
        border-radius: 50%;
        width: 20px;
        height: 20px;
        background: inherit;
      }

      &::after{
        position: absolute;
        content: '';
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background: inherit;
      }

    }
  }

  &.balloon-left{
    &.type-serif{
      .image{
        margin-right: 2rem;
      }

      p{
        &::after{
          left: 0;
          top: 50%;
          border-right-color: inherit;
          border-left: 0;
          margin-top: -20px;
          margin-left: -20px;
        }
      }
    }

    &.type-think{
      .image{
        margin-right: 2.5rem;
      }

      p{
        &::before{
          left: -22px;
          top: 7px;
        }

        &::after{
          left: -35px;
          top: 20px;
        }
      }
    }

  }

  &.balloon-right{
    flex-direction: row-reverse;

    &.type-serif{
      .image{
        margin-left: 2rem;
      }

      p{
        &::after{
          right: 0;
          top: 50%;
          border-left-color: inherit;
          border-right: 0;
          margin-top: -20px;
          margin-right: -20px;
        }
      }
    }

    &.type-think{
      .image{
        margin-left: 2.5rem;
      }

      p{
        &::before{
          right: -22px;
          top: 7px;
        }

        &::after{
          right: -35px;
          top: 20px;
        }
      }
    }
  }

}

/**
 Animation Vibration
 */
@keyframes vibration {
  0% {transform: translate(0px, 0px) rotateZ(0deg)}
  25% {transform: translate(2px, 2px) rotateZ(1deg)}
  50% {transform: translate(0px, 2px) rotateZ(0deg)}
  75% {transform: translate(2px, 0px) rotateZ(-1deg)}
  100% {transform: translate(0px, 0px) rotateZ(0deg)}
}

/*********************
* SmartPhone
0px - 480px
***********************/
@media only screen and (max-width: 480px) {
  .wp-block-nishiki-balloon{
    display: block;

    .image{
      max-width:96px;
    }

    &.balloon-left{
      &.type-serif{

        p{
          display: inline-block;

          &::after{
            top: 0;
            left: 2.9rem;
            width: 0;
            height: 0;
            border: 20px solid transparent;
            border-bottom-color: inherit;
            border-top: 0;
            margin-left: -20px;
            margin-top: -20px;
          }
        }
      }

      &.type-think{
        p{
          display: inline-block;

          &::before{
            left: 36px;
            top: -8px;
          }

          &::after{
            left: 47px;
            top: -20px;
          }
        }
      }
    }

    &.balloon-right{
      text-align: right;

      &.type-serif{
        .image{
          margin-left: auto;
          margin-right: 0;
        }

        p{
          display: inline-block;

          &::after{
            top: 0;
            right: 2.9rem;
            width: 0;
            height: 0;
            border: 20px solid transparent;
            border-bottom-color: inherit;
            border-top: 0;
            margin-left: -20px;
            margin-top: -20px;
          }
        }
      }

      &.type-think{
        .image{
          margin-left: auto;
          margin-right: 0;
        }

        p{
          display: inline-block;

          &::before{
            right: 36px;
            top: -8px;
          }

          &::after{
            right: 47px;
            top: -20px;
          }
        }
      }
    }

  }
}

/*      .qaItem
/*-------------------------------------------*/
dl.veu_qaItem  { display:block; overflow:hidden;border-bottom:1px dotted #ccc; padding:0px 0px 20px; margin:0px 0px 20px; width:100%; position: relative;
  dt,
  dd { border:none;padding-left: 35px; }
  dt:before,
  dd:before { position: absolute;left:0;font-size:24px;line-height: 105%; }
  dt { margin-bottom:15px;font-size:18px;font-weight:700;
    &:before { font-family:"areal";content:"Q ";color:#e50000; }
  }
  dd { margin:0px;
    &:before { content:"A ";color:#337ab7;font-family: "" }
  }
}
//*      .flowBox
/*-------------------------------------------*/
.vk-flow {

}
.vk_flow-arrow-on:after {
  content:"";
  background: url('../images/arrow_bottom.svg') center 50% no-repeat;
  background-size: 50px 50px;
  display:block; overflow:hidden;
  height:50px;
  width:50px;
  margin:0 auto;
}
.vk_flow-arrow-off  { padding-bottom:0px; margin-bottom:30px; }
.vk_flow-arrow-off:after {
  content:"";font-size:0;background-image: none;
}
.vk_flow_frame {
	display: flex;
	padding:20px 25px; border:3px solid #e5e5e5;margin:0;
	justify-content: space-between;
}
.vk_flow_frame_text  { display:block;overflow:hidden;margin:0;width:100%;box-sizing: border-box; }
.vk_flow_frame_text_title,
.vk_flow_frame_text_content { padding-left:0;border:none; }
.vk_flow_frame_text_title { border-bottom:1px dotted #ccc; margin:0 0 10px;padding:0 0 5px; font-size:1.2em; }
.vk_flow_frame_text_content { margin-bottom:0px; }
.vk_flow_frame_image {
	max-width:150px;
	margin-left:15px;
	box-sizing: border-box;
}

}
