@charset "UTF-8";
.components-base-control__label {
  font-weight: bold;
}

.components-base-control .components-base-control__help {
  margin-top: 0;
}

.components-radio-control__option label {
  margin-bottom: 0;
}

.components-checkbox-control__label {
  margin-bottom: 0;
}

.components-color-palette {
  display: block;
  overflow: hidden;
}

html {
  font-size: 10px;
}

/*スライダーを表示。デフォルトだとbootstrapに非表示にされてしまう*/
input[type=range] {
  margin: 1px;
}

.edit-post-visual-editor.editor-styles-wrapper {
  /* これがないとGutenberg標準のエディタCSSに負ける */
  /* メインのカラム幅 */
  /*	type
  /*-------------------------------------------*/
  /*	position
  /*-------------------------------------------*/
  /**
   Animation Vibration
   */
  /*********************
  * SmartPhone
  0px - 480px
  ***********************/
  /*-------------------------------------------*/
  /*	Lightnig がまだ Bootstrap4 でないため手動で追加したクラス
  /*	Lighnting が 4 を同梱したら削除して化
  /*-------------------------------------------*/
  /* .btn がないと標準のBS4の指定に負ける */
  /* .btn がないと標準のBS4の指定に負ける */
  /*      .qaItem
  /*-------------------------------------------*/
  /*-------------------------------------------*/
  /* CSS
  /*-------------------------------------------*/
  /*-------------------------------------------*/
  /*-------------------------------------------*/
  /* CSS
  /*-------------------------------------------*/
  /*-------------------------------------------*/
  /* .vk_prBlocks
  /*-------------------------------------------*/
  /*-------------------------------------------*/
  /* CSS
  /*-------------------------------------------*/
  /*-------------------------------------------*/
  /* Layout
  /*-------------------------------------------*/
  /*-------------------------------------------*/
  /* others
  /*-------------------------------------------*/
  /*-------------------------------------------*/
  /* CSS
  /*-------------------------------------------*/
}
.edit-post-visual-editor.editor-styles-wrapper h1:first-child.vk_prBlocks_item_title {
  margin-top: 0.9em;
}
.edit-post-visual-editor.editor-styles-wrapper .wp-block,
.edit-post-visual-editor.editor-styles-wrapper .editor-block-list__layout > .wp-block {
  max-width: calc( 100% - 20% );
}
.edit-post-visual-editor.editor-styles-wrapper .wp-block .wp-block,
.edit-post-visual-editor.editor-styles-wrapper .editor-block-list__layout > .wp-block .wp-block {
  max-width: 100%;
}
@media (min-width: 600px) {
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-columns {
    margin-left: -15px;
    margin-right: -15px;
  }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-column {
    flex-basis: auto;
    margin-left: 15px;
    margin-right: 15px;
    width: calc( 50% - 30px );
  }
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-column:not(:first-child), .edit-post-visual-editor.editor-styles-wrapper .wp-block-column:not(:last-child), .edit-post-visual-editor.editor-styles-wrapper .wp-block-column:nth-child(odd) {
    margin-left: 15px;
    margin-right: 15px;
  }
}
.edit-post-visual-editor.editor-styles-wrapper .vk_balloon {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_balloon figure {
  margin: 0;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_balloon p {
  word-break: break-all;
  background: #f5f5f5;
  padding: 1.1rem 1.4rem;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_balloon_icon {
  flex-basis: 96px;
  flex-shrink: 0;
  text-align: center;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_balloon_icon_image {
  vertical-align: bottom;
  max-width: 64px;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_balloon_icon_name {
  display: block;
  text-align: center;
  font-size: 0.7rem;
  margin-top: 0.2rem;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_balloon_content {
  position: relative;
  text-align: left;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_balloon_content.editor-rich-text__tinymce[data-is-placeholder-visible=true] {
  position: absolute;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_balloon-type-serif .vk_balloon_content {
  border-color: #f5f5f5;
  border-radius: 0.4em;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_balloon-type-serif .vk_balloon_content::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 20px solid transparent;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_balloon-type-think .vk_balloon_content {
  border-radius: 2rem;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_balloon-type-think .vk_balloon_content::before, .edit-post-visual-editor.editor-styles-wrapper .vk_balloon-type-think .vk_balloon_content::after {
  position: absolute;
  content: "";
  border-radius: 50%;
  background: inherit;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_balloon-type-think .vk_balloon_content::before {
  width: 20px;
  height: 20px;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_balloon-type-think .vk_balloon_content::after {
  width: 10px;
  height: 10px;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_balloon-position-left.vk_balloon-type-serif .vk_balloon_icon {
  margin-right: 2rem;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_balloon-position-left.vk_balloon-type-serif .vk_balloon_content::after {
  left: 0;
  top: 50%;
  border-right-color: inherit;
  border-left: 0;
  margin-top: -20px;
  margin-left: -20px;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_balloon-position-left.vk_balloon-type-think .vk_balloon_icon {
  margin-right: 2.5rem;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_balloon-position-left.vk_balloon-type-think .vk_balloon_content::before {
  left: -22px;
  top: 7px;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_balloon-position-left.vk_balloon-type-think .vk_balloon_content::after {
  left: -35px;
  top: 20px;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_balloon-position-right {
  flex-direction: row-reverse;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_balloon-position-right.vk_balloon-type-serif .vk_balloon_icon {
  margin-left: 2rem;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_balloon-position-right.vk_balloon-type-serif .vk_balloon_content::after {
  right: 0;
  top: 50%;
  border-left-color: inherit;
  border-right: 0;
  margin-top: -20px;
  margin-right: -20px;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_balloon-position-right.vk_balloon-type-think .vk_balloon_icon {
  margin-left: 2.5rem;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_balloon-position-right.vk_balloon-type-think .vk_balloon_content::before {
  right: -22px;
  top: 7px;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_balloon-position-right.vk_balloon-type-think .vk_balloon_content::after {
  right: -35px;
  top: 20px;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_balloon.animation-vibration .vk_balloon_content {
  display: inline-block;
  animation: vibration 0.1s infinite;
}
@keyframes vibration {
  0% {
    transform: translate(0px, 0px) rotateZ(0deg);
  }
  25% {
    transform: translate(2px, 2px) rotateZ(1deg);
  }
  50% {
    transform: translate(0px, 2px) rotateZ(0deg);
  }
  75% {
    transform: translate(2px, 0px) rotateZ(-1deg);
  }
  100% {
    transform: translate(0px, 0px) rotateZ(0deg);
  }
}
@media only screen and (max-width: 480px) {
  .edit-post-visual-editor.editor-styles-wrapper .vk_balloon {
    display: block;
  }
  .edit-post-visual-editor.editor-styles-wrapper .vk_balloon.vk_balloon-position-left.vk_balloon-type-serif .vk_balloon_content {
    display: inline-block;
  }
  .edit-post-visual-editor.editor-styles-wrapper .vk_balloon.vk_balloon-position-left.vk_balloon-type-serif .vk_balloon_content::after {
    top: 0;
    left: 2.9rem;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom-color: inherit;
    border-top: 0;
    margin-left: -20px;
    margin-top: -20px;
  }
  .edit-post-visual-editor.editor-styles-wrapper .vk_balloon.vk_balloon-position-left.vk_balloon-type-think .vk_balloon_content {
    display: inline-block;
  }
  .edit-post-visual-editor.editor-styles-wrapper .vk_balloon.vk_balloon-position-left.vk_balloon-type-think .vk_balloon_content::before {
    left: 36px;
    top: -8px;
  }
  .edit-post-visual-editor.editor-styles-wrapper .vk_balloon.vk_balloon-position-left.vk_balloon-type-think .vk_balloon_content::after {
    left: 47px;
    top: -20px;
  }
  .edit-post-visual-editor.editor-styles-wrapper .vk_balloon.vk_balloon-position-right {
    text-align: right;
  }
  .edit-post-visual-editor.editor-styles-wrapper .vk_balloon.vk_balloon-position-right.vk_balloon-type-serif .vk_balloon_icon {
    margin-left: auto;
    margin-right: 0;
  }
  .edit-post-visual-editor.editor-styles-wrapper .vk_balloon.vk_balloon-position-right.vk_balloon-type-serif .vk_balloon_content {
    display: inline-block;
  }
  .edit-post-visual-editor.editor-styles-wrapper .vk_balloon.vk_balloon-position-right.vk_balloon-type-serif .vk_balloon_content::after {
    top: 0;
    right: 2.9rem;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom-color: inherit;
    border-top: 0;
    margin-left: -20px;
    margin-top: -20px;
  }
  .edit-post-visual-editor.editor-styles-wrapper .vk_balloon.vk_balloon-position-right.vk_balloon-type-think .vk_balloon_icon {
    margin-left: auto;
    margin-right: 0;
  }
  .edit-post-visual-editor.editor-styles-wrapper .vk_balloon.vk_balloon-position-right.vk_balloon-type-think .vk_balloon_content {
    display: inline-block;
  }
  .edit-post-visual-editor.editor-styles-wrapper .vk_balloon.vk_balloon-position-right.vk_balloon-type-think .vk_balloon_content::before {
    right: 36px;
    top: -8px;
  }
  .edit-post-visual-editor.editor-styles-wrapper .vk_balloon.vk_balloon-position-right.vk_balloon-type-think .vk_balloon_content::after {
    right: 47px;
    top: -20px;
  }
  .edit-post-visual-editor.editor-styles-wrapper .vk_balloon_icon {
    max-width: 96px;
  }
}
.edit-post-visual-editor.editor-styles-wrapper .vk_button {
  margin: 5px 0;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_button-color-custom a:hover {
  opacity: 0.8;
  box-shadow: 0 0 0 0.2rem rgba(171, 184, 195, 0.25);
}
.edit-post-visual-editor.editor-styles-wrapper .vk_button-align-left {
  text-align: left;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_button-align-center {
  text-align: center;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_button-align-right {
  text-align: right;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_button-align-block {
  display: block;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_button_link.btn {
  padding-top: 0.7em;
  padding-bottom: 0.6em;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_button_link_before {
  margin-right: 0.7rem;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_button_link_after {
  margin-left: 0.7rem;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_button_link_subCaption {
  display: block;
  overflow: hidden;
  margin: 0;
  font-size: 80%;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_button .editor-rich-text {
  display: inline-block;
}
.edit-post-visual-editor.editor-styles-wrapper .btn.btn-primary {
  color: #fff;
}
.edit-post-visual-editor.editor-styles-wrapper .btn.btn-secondary {
  color: #fff;
  background-color: #6c757d;
}
.edit-post-visual-editor.editor-styles-wrapper .btn.btn-success {
  color: #fff;
}
.edit-post-visual-editor.editor-styles-wrapper .btn.btn-info {
  color: #fff;
}
.edit-post-visual-editor.editor-styles-wrapper .btn.btn-warning {
  color: #fff;
}
.edit-post-visual-editor.editor-styles-wrapper .btn.btn-danger {
  color: #fff;
}
.edit-post-visual-editor.editor-styles-wrapper .btn.btn-light {
  color: #fff;
  background-color: #f8f9fa;
}
.edit-post-visual-editor.editor-styles-wrapper .btn.btn-dark {
  color: #fff;
  background-color: #343a40;
}
.edit-post-visual-editor.editor-styles-wrapper .btn.btn-secondary:hover,
.edit-post-visual-editor.editor-styles-wrapper .btn.btn-dark:hover {
  color: #fff;
}
.edit-post-visual-editor.editor-styles-wrapper .btn.btn-outline-primary {
  color: #007bff;
  border: 1px solid #007bff;
  background: none;
  box-shadow: none;
}
.edit-post-visual-editor.editor-styles-wrapper .btn.btn-outline-secondary {
  color: #6c757d;
  border: 1px solid #6c757d;
  background: none;
  box-shadow: none;
}
.edit-post-visual-editor.editor-styles-wrapper .btn.btn-outline-success {
  color: #28a745;
  border: 1px solid #28a745;
  background: none;
  box-shadow: none;
}
.edit-post-visual-editor.editor-styles-wrapper .btn.btn-outline-info {
  color: #17a2b8;
  border: 1px solid #17a2b8;
  background: none;
  box-shadow: none;
}
.edit-post-visual-editor.editor-styles-wrapper .btn.btn-outline-warning {
  color: #ffc107;
  border: 1px solid #ffc107;
  background: none;
  box-shadow: none;
}
.edit-post-visual-editor.editor-styles-wrapper .btn.btn-outline-danger {
  color: #dc3545;
  border: 1px solid #dc3545;
  background: none;
  box-shadow: none;
}
.edit-post-visual-editor.editor-styles-wrapper .btn.btn-outline-light {
  color: #f8f9fa;
  border: 1px solid #f8f9fa;
  background: none;
  box-shadow: none;
}
.edit-post-visual-editor.editor-styles-wrapper .btn.btn-outline-dark {
  color: #343a40;
  border: 1px solid #343a40;
  background: none;
  box-shadow: none;
}
.edit-post-visual-editor.editor-styles-wrapper .btn.btn-outline-primary:hover,
.edit-post-visual-editor.editor-styles-wrapper .btn.btn-outline-primary:focus {
  background: #007bff;
  color: #fff;
}
.edit-post-visual-editor.editor-styles-wrapper .btn.btn-outline-secondary:hover,
.edit-post-visual-editor.editor-styles-wrapper .btn.btn-outline-secondary:focus {
  background: #6c757d;
  color: #fff;
}
.edit-post-visual-editor.editor-styles-wrapper .btn.btn-outline-success:hover,
.edit-post-visual-editor.editor-styles-wrapper .btn.btn-outline-success:focus {
  background: #28a745;
  color: #fff;
}
.edit-post-visual-editor.editor-styles-wrapper .btn.btn-outline-info:hover,
.edit-post-visual-editor.editor-styles-wrapper .btn.btn-outline-info:focus {
  background: #17a2b8;
  color: #fff;
}
.edit-post-visual-editor.editor-styles-wrapper .btn.btn-outline-warning:hover,
.edit-post-visual-editor.editor-styles-wrapper .btn.btn-outline-warning:focus {
  background: #ffc107;
  color: #fff;
}
.edit-post-visual-editor.editor-styles-wrapper .btn.btn-outline-danger:hover,
.edit-post-visual-editor.editor-styles-wrapper .btn.btn-outline-danger:focus {
  background: #dc3545;
  color: #fff;
}
.edit-post-visual-editor.editor-styles-wrapper .btn.btn-outline-light:hover,
.edit-post-visual-editor.editor-styles-wrapper .btn.btn-outline-light:focus {
  background: #f8f9fa;
  color: #fff;
}
.edit-post-visual-editor.editor-styles-wrapper .btn.btn-outline-dark:hover,
.edit-post-visual-editor.editor-styles-wrapper .btn.btn-outline-dark:focus {
  background: #343a40;
  color: #fff;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_faq {
  display: block;
  overflow: hidden;
  border-bottom: 1px dotted #ccc;
  padding: 0px 0px 25px;
  margin: 25px 0px;
  width: 100%;
  position: relative;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_faq_title,
.edit-post-visual-editor.editor-styles-wrapper .vk_faq_content {
  border: none;
  padding-left: 35px;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_faq_title:before,
.edit-post-visual-editor.editor-styles-wrapper .vk_faq_content:before {
  position: absolute;
  left: 0;
  font-size: 24px;
  line-height: 105%;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_faq_title {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_faq_title:before {
  font-family: "areal";
  content: "Q ";
  color: #e50000;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_faq_content {
  margin: 0px;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_faq_content:before {
  content: "A ";
  color: #337ab7;
  font-family: "";
}
.edit-post-visual-editor.editor-styles-wrapper .vk_heading_title-style-plain {
  background: none;
  border: none;
  border-radius: 0;
  padding: 0;
  font-weight: normal;
  box-shadow: none;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_heading_title-style-plain:after {
  border: none;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_heading_subtext {
  margin-bottom: 0;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_flow-arrow-on:after {
  content: "";
  background: url("../images/arrow_bottom.svg") center 50% no-repeat;
  background-size: 50px 50px;
  display: block;
  overflow: hidden;
  height: 50px;
  width: 50px;
  margin: 0 auto;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_flow-arrow-off {
  padding-bottom: 0px;
  margin-bottom: 30px;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_flow-arrow-off:after {
  content: "";
  font-size: 0;
  background-image: none;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_flow_frame {
  display: flex;
  padding: 20px 25px;
  border: 3px solid #e5e5e5;
  margin: 0;
  justify-content: space-between;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_flow_frame_text {
  display: block;
  overflow: hidden;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_flow_frame_text_title,
.edit-post-visual-editor.editor-styles-wrapper .vk_flow_frame_text_content {
  padding-left: 0;
  border: none;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_flow_frame_text_title {
  border-bottom: 1px dotted #ccc;
  margin: 0 0 10px;
  padding: 0 0 5px;
  font-size: 1.2em;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_flow_frame_text_content {
  margin-bottom: 0px;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_flow_frame_image {
  max-width: 150px;
  margin-left: 15px;
  box-sizing: border-box;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_outer {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_outer .vk_outer_container {
  min-height: 40px;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_outer-width-full {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding-left: calc(50vw - 50%);
  padding-right: calc(50vw - 50%);
}
.edit-post-visual-editor.editor-styles-wrapper .vk_outer-paddingLR-use {
  padding-left: 1.5em;
  padding-right: 1.5em;
}
@media (min-width: 576px) {
  .edit-post-visual-editor.editor-styles-wrapper .vk_outer-paddingLR-use {
    padding-left: 2em;
    padding-right: 2em;
  }
}
@media (min-width: 768px) {
  .edit-post-visual-editor.editor-styles-wrapper .vk_outer-paddingLR-use {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
}
@media (min-width: 992px) {
  .edit-post-visual-editor.editor-styles-wrapper .vk_outer-paddingLR-use {
    padding-left: 3em;
    padding-right: 3em;
  }
}
@media (min-width: 1200px) {
  .edit-post-visual-editor.editor-styles-wrapper .vk_outer-paddingLR-use {
    padding-left: 3.5em;
    padding-right: 3.5em;
  }
}
.edit-post-visual-editor.editor-styles-wrapper .vk_outer-paddingVertical-use {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
@media (min-width: 576px) {
  .edit-post-visual-editor.editor-styles-wrapper .vk_outer-paddingVertical-use {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}
@media (min-width: 768px) {
  .edit-post-visual-editor.editor-styles-wrapper .vk_outer-paddingVertical-use {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }
}
@media (min-width: 992px) {
  .edit-post-visual-editor.editor-styles-wrapper .vk_outer-paddingVertical-use {
    padding-top: 3em;
    padding-bottom: 3em;
  }
}
@media (min-width: 1200px) {
  .edit-post-visual-editor.editor-styles-wrapper .vk_outer-paddingVertical-use {
    padding-top: 3.5em;
    padding-bottom: 3.5em;
  }
}
.edit-post-visual-editor.editor-styles-wrapper .vk_outer-bgPosition-fixed {
  background-attachment: fixed !important;
  background-size: cover !important;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_outer-bgPosition-normal {
  background-attachment: unset !important;
  background-size: cover !important;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_outer_separator svg {
  display: block;
  max-height: 100px;
  position: absolute;
  left: 0;
  width: 100%;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_outer_separator-position-upper svg {
  top: 0;
  transform: rotate(180deg);
}
.edit-post-visual-editor.editor-styles-wrapper .vk_outer_separator-position-lower svg {
  bottom: 0;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_outer .editor-block-list__block {
  margin: 0;
}
@media screen and (max-width: 992px) {
  .edit-post-visual-editor.editor-styles-wrapper .vk_prBlocks_item {
    margin-bottom: 1.5em;
  }
}
.edit-post-visual-editor.editor-styles-wrapper .vk_prBlocks_item_link {
  color: #333;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_prBlocks_item_link:hover {
  color: #333;
  text-decoration: none;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_prBlocks_item_icon_outer {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_prBlocks_item_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-size: 36px;
  color: #fff;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_prBlocks_item_title {
  margin-top: 0.9em;
  margin-bottom: 0.6em;
  text-align: center;
  font-size: 21px;
  line-height: 1.4em;
  border: none;
  padding: 0;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_prBlocks_item_title::after {
  border: none;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_prBlocks_item_image {
  position: relative;
  display: block;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
  text-indent: -9999px;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_prBlocks_item_summary {
  margin-bottom: 0.5em;
  text-align: center;
  line-height: 1.8em;
}
@media (max-width: 576px) {
  .edit-post-visual-editor.editor-styles-wrapper .vk_spacer .vk_spacer-display-pc {
    display: none;
  }
  .edit-post-visual-editor.editor-styles-wrapper .vk_spacer .vk_spacer-display-tablet {
    display: none;
  }
  .edit-post-visual-editor.editor-styles-wrapper .vk_spacer .vk_spacer-display-mobile {
    display: block;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .edit-post-visual-editor.editor-styles-wrapper .vk_spacer .vk_spacer-display-pc {
    display: none;
  }
  .edit-post-visual-editor.editor-styles-wrapper .vk_spacer .vk_spacer-display-tablet {
    display: block;
  }
  .edit-post-visual-editor.editor-styles-wrapper .vk_spacer .vk_spacer-display-mobile {
    display: none;
  }
}
@media (min-width: 769px) {
  .edit-post-visual-editor.editor-styles-wrapper .vk_spacer .vk_spacer-display-pc {
    display: block;
  }
  .edit-post-visual-editor.editor-styles-wrapper .vk_spacer .vk_spacer-display-tablet {
    display: none;
  }
  .edit-post-visual-editor.editor-styles-wrapper .vk_spacer .vk_spacer-display-mobile {
    display: none;
  }
}
.edit-post-visual-editor.editor-styles-wrapper .editor-styles-wrapper ul {
  list-style: none !important;
}
.edit-post-visual-editor.editor-styles-wrapper .editor-styles-wrapper ul li.vk_table-of-contents_list_item-h3 {
  margin-left: 2rem;
}
.edit-post-visual-editor.editor-styles-wrapper .editor-styles-wrapper ul li.vk_table-of-contents_list_item-h4 {
  margin-left: 4rem;
}
.edit-post-visual-editor.editor-styles-wrapper .editor-styles-wrapper ul li.vk_table-of-contents_list_item-h5 {
  margin-left: 8rem;
}
.edit-post-visual-editor.editor-styles-wrapper .editor-styles-wrapper ul li.vk_table-of-contents_list_item-h6 {
  margin-left: 12rem;
}
.edit-post-visual-editor.editor-styles-wrapper .editor-styles-wrapper ul ul {
  list-style: none !important;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_prContent {
  margin-left: -15px;
  margin-right: -15px;
}
@media (min-width: 576px) {
  .edit-post-visual-editor.editor-styles-wrapper .vk_prContent {
    display: flex;
  }
  .edit-post-visual-editor.editor-styles-wrapper .vk_prContent .col-sm-6 {
    width: 50%;
  }
  .edit-post-visual-editor.editor-styles-wrapper .vk_prContent-layout-imageLeft {
    flex-direction: row;
  }
  .edit-post-visual-editor.editor-styles-wrapper .vk_prContent-layout-imageRight {
    flex-direction: row-reverse;
  }
  .edit-post-visual-editor.editor-styles-wrapper .vk_prContent-layout-imageLeft .vk_prContent_colImg {
    padding-right: 2em;
  }
  .edit-post-visual-editor.editor-styles-wrapper .vk_prContent-layout-imageRight .vk_prContent_colImg {
    padding-left: 2em;
  }
}
.edit-post-visual-editor.editor-styles-wrapper .vk_prContent_colTxt {
  vertical-align: top;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_prContent_colTxt_title {
  background-color: transparent;
  font-weight: bold;
  padding: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0.8em;
}
@media (max-width: 575.98px) {
  .edit-post-visual-editor.editor-styles-wrapper .vk_prContent_colTxt_title:first-child {
    margin-top: 30px;
  }
}
.edit-post-visual-editor.editor-styles-wrapper .vk_prContent_colTxt_title:after {
  content: "";
  line-height: 0;
  display: block;
  overflow: hidden;
  position: absolute;
  bottom: -1px;
  width: 0;
  border: none;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_prContent_colTxt_text {
  line-height: 2em;
  margin-bottom: 1.7em;
}
@media (min-width: 992px) {
  .edit-post-visual-editor.editor-styles-wrapper .vk_prContent_colTxt_btn.btn {
    font-size: 16px;
  }
}
.edit-post-visual-editor.editor-styles-wrapper .vk_prContent_colImg_image {
  max-width: 100%;
  height: auto;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_prContent_colImg .components-button.button {
  margin: 1em;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_prContent_colImg .components-button.image-button {
  margin: 0;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_staff {
  display: table;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_staff .vk_staff_text {
  display: table-cell;
  vertical-align: top;
  width: 60%;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_staff .vk_staff_text_name {
  text-align: left;
  box-shadow: none;
  font-size: 3rem;
  font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "serif";
  line-height: 1;
  margin-bottom: 0.5rem;
  border: none;
  padding: 0;
  background-color: transparent;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_staff .vk_staff_text_name:before, .edit-post-visual-editor.editor-styles-wrapper .vk_staff .vk_staff_text_name:after {
  border: none;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_staff .vk_staff_text_caption {
  font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "serif";
  font-size: 14px;
  display: block;
  margin: 0 0 0.5rem 4px;
  letter-spacing: 5px;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_staff .vk_staff_text_position {
  font-size: 14px;
  line-height: 1.6em;
  font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "serif";
}
.edit-post-visual-editor.editor-styles-wrapper .vk_staff .vk_staff_text_profileTitle {
  font-size: 18px;
  font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "serif";
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 2px;
  margin-bottom: 1.2rem;
  border-top: none;
  border-bottom: 1px solid #ccc;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_staff .vk_staff_text_profileTitle:before, .edit-post-visual-editor.editor-styles-wrapper .vk_staff .vk_staff_text_profileTitle:after {
  border: none;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_staff .vk_staff_text_profileText {
  font-size: 14px;
}
.edit-post-visual-editor.editor-styles-wrapper .vk_staff .vk_staff_photo_image {
  width: 80%;
  margin: 0 0 0 auto;
  display: block;
  border: 4px solid #efefef;
}
/*# sourceMappingURL=editor-block-build.css.map */
