/*-------------------------------------------*/
/* CSS
/*-------------------------------------------*/
/*-------------------------------------------*/
/* .vk_icon
/*-------------------------------------------*/
.vk_icon {
	@media screen and (max-width: 992px) {
		margin-bottom: 1.5em;
	}
}
.wp-block-vk-blocks-icon { //編集画面で負けるので先頭に追加
	.vk_icon {
		&_align {
			&_center {
				text-align: center;
			}
			&_right {
				text-align: right;
			}
		}

		&_border {
			display: inline-block;
			position: relative;
			width: 80px;
			height: 80px;
			border-radius: 50%;
			background-color: #0693e3;
			border: 1px solid #0693e3;

			&_frame {
				background-color: transparent;

				.vk_icon_font {
					color: #0693e3;
				}
			}

			&_none {
				background-color: transparent;
				color: #0693e3;
				border: none;

				.vk_icon_font {
					color: #0693e3;
				}
			}
		}

		&_link {
			display: inline-block;

			&:hover {
				opacity: .85;
			}
		}

		&_font {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateY(-50%) translateX(-50%);
			font-size: 36px;
			color: #fff;
		}
	}
}