@use 'utils/breakpoints' as *;

.vk_responsive-br{
	display: none;
}

@media (width < $xs) {
	.vk_responsive-br-xs{
		display: block;
	}
}
@media ($xs <= width < $sm) {
	.vk_responsive-br-sm{
		display: block;
	}
}
@media ($sm <= width < $md) {
	.vk_responsive-br-md{
		display: block;
	}
}
@media ($md <= width < $lg) {
	.vk_responsive-br-lg{
		display: block;
	}
}
@media ($lg <= width < $xl){
	.vk_responsive-br-xl{
		display: block;
	}
}
@media (width >= $xl) {
	.vk_responsive-br-xxl{
		display: block;
	}
}
