.vk_balloon {
	display: flex;
	align-items: normal;
	margin-bottom: 2.2em;

	figure {
		margin: 0;
	}

	p {
		word-break: break-all;
		&:last-of-type{
			margin-bottom: 0;
		}
	}
}

.vk_balloon_icon {
	flex-basis: 96px;
	flex-shrink: 0;
	text-align: center;
}

.vk_balloon_icon_image {
	vertical-align: bottom;
	max-width: 64px;
}

.vk_balloon-image-rounded {
	border-radius: 4px;
}

.vk_balloon-image-circle {
	border-radius: 50%;
}

.vk_balloon_icon_name {
	display: block;
	text-align: center;
	font-size: 0.7rem;
	margin-top: 0.2rem;
}

// .vk_balloon_content_outer は .vk_balloon_content の外側に 0.38.2 から追加
// 本来 _outer をつけるような親要素のクラスの方が文字数が多くなる手法はとらないが、
// 既存のクラス名を変更すると既存サイトではHTML構造がもとのままなので崩れてしまうため例外措置。
.vk_balloon_content_outer{
	width:100%;
}
.vk_balloon_content {
	.vk_balloon-position-left & {
		float:left;
	}
	.vk_balloon-position-right & {
		float:right;
	}
	position: relative;
	text-align: left;
	&.editor-rich-text__tinymce[data-is-placeholder-visible=true] {
		// これがないと未入力時に吹き出しが２重になる
		position: absolute;
	}
}

/*	type
/*-------------------------------------------*/
.vk_balloon_content {
	background: #f5f5f5;
	padding: 1.1rem 1.4rem;
}

.vk_balloon-type-serif{
	.vk_balloon_content{
		border-color: #f5f5f5;
		border-radius: .4em;
		&::after{
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			border: 20px solid transparent;
		}
	}
}
.vk_balloon-type-think{
	.vk_balloon_content{
		border-radius: 2rem;
		&::before,
		&::after{
			position: absolute;
			content: '';
			border-radius: 50%;
			background: inherit;
		}
		&::before{
			width: 20px;
			height: 20px;
		}
		&::after{
			width: 10px;
			height: 10px;
		}
	}
}

/*	position
/*-------------------------------------------*/
.vk_balloon-position-left{
	&.vk_balloon-type-serif{
		.vk_balloon_icon{
			margin-right: 2rem;
		}
		.vk_balloon_content{
			&::after{
				left: 0;
				top: 32px;
				border-right-color: inherit;
				border-left: 0;
				margin-top: -20px;
				margin-left: -20px;
			}
		}
	}

	&.vk_balloon-type-think{
		.vk_balloon_icon{
			margin-right: 2.5rem;
		}

		.vk_balloon_content{
			&::before{
				left: -22px;
				top: 7px;
			}

			&::after{
				left: -35px;
				top: 20px;
			}
		}
	}
}//.vk_balloon-position-left
.vk_balloon-position-right{
	flex-direction: row-reverse;
	&.vk_balloon-type-serif{
		.vk_balloon_icon{
			margin-left: 2rem;
		}

		.vk_balloon_content{
			&::after{
				right: 0;
				top: 32px;
				border-left-color: inherit;
				border-right: 0;
				margin-top: -20px;
				margin-right: -20px;
			}
		}
	}

	&.vk_balloon-type-think{
		.vk_balloon_icon{
			margin-left: 2.5rem;
		}

		.vk_balloon_content{
			&::before{
				right: -22px;
				top: 7px;
			}

			&::after{
				right: -35px;
				top: 20px;
			}
		}
	}
}//.vk_balloon-position-right

.vk_balloon-animation {
	&-trembling {
		animation: trembling 0.1s infinite;
	}
	@keyframes trembling {
		0% {
			transform: rotate(-0.5deg);
		}
		50% {
			transform: rotate(0.5deg);
		}
	}
	&-trembling-x {
		animation: trembling-x 0.1s infinite;
	}
	@keyframes trembling-x {
		0% {
			transform: scale(1, 1);
		}
		50% {
			transform: scale(0.99, 0.96);
		}
	}
	&-pounding {
		animation: pounding 1.5s infinite;
	}
	@keyframes pounding {
		0% {
			transform: scale(1.05)
		}
		5% {
			transform: scale(1)
		}
		95% {
			transform: scale(1)
		}
		100% {
			transform: scale(1.05)
		}
	}

	&-shaking {
		animation: shaking 0.4s infinite;
	}
	@keyframes shaking {
		0% {
			transform: translate(1px, 1px);
		}
		25% {
			transform: translate(1px, -1px);
		}
		50% {
			transform: translate(-1px, -1px);
		}
		75% {
			transform: translate(-1px, 1px);
		}
		100% {
			transform: translate(1px, 1px);
		}
	}
}


.vk_balloon {
  &.animation-vibration{
    .vk_balloon_content{
      display: inline-block;
      animation: vibration .1s  infinite;
    }
  }
}

/**
 Animation Vibration
 */
@keyframes vibration {
  0% {transform: translate(0px, 0px) rotateZ(0deg)}
  25% {transform: translate(2px, 2px) rotateZ(1deg)}
  50% {transform: translate(0px, 2px) rotateZ(0deg)}
  75% {transform: translate(2px, 0px) rotateZ(-1deg)}
  100% {transform: translate(0px, 0px) rotateZ(0deg)}
}

.icon-image-list-note:hover{
	cursor: pointer;
}

/*********************
* SmartPhone
0px - 480px
***********************/
@media only screen and (max-width: 480px) {
	.vk_balloon_content{
		font-size: .9em;
	}
	.vk_balloon-type-serif {
		.vk_balloon_content{
			&::after {
				border: 15px solid transparent;
			}
		}
	}
	.vk_balloon-type-think {
		.vk_balloon_content{
			&::after {
				border: 5px solid transparent;
			}
		}
	}

  .vk_balloon{
    align-items: normal;
    &.vk_balloon-position-left{
      &.vk_balloon-type-serif{
      	.vk_balloon_icon{
      		max-width:86px;
			margin-right: 1.5rem;
		}//.vk_balloon_icon
        .vk_balloon_content{
          display: inline-block;
          &::after{
            top: 32px;
             margin-left: -15px;
          }
        }//.vk_balloon_content
      }//&.vk_balloon-type-serif

      &.vk_balloon-type-think{
      	.vk_balloon_icon{
			margin-right: 2rem;
			max-width: 86px;
		}
				.vk_balloon_content{
					display: inline-block;

					&::before{
						width: 15px;
						height: 15px;
					}
        }
      }
    }//&.vk_balloon-position-left

    &.vk_balloon-position-right{
      text-align: right;

			&.vk_balloon-type-serif{
				.vk_balloon_icon{
					max-width: 86px;
				  	margin-left: 1.5rem;
				  	margin-right: 0;
				}

				.vk_balloon_content{
				  display: inline-block;
				  &::after{
				    top: 32px;
					margin-right: -15px;
				  }
				}
			}//&.vk_balloon-type-serif

			&.vk_balloon-type-think{
				.vk_balloon_icon{
				  margin-left: 2rem;
				  margin-right: 0;
				  max-width:86px;
				}

				.vk_balloon_content{
					display: inline-block;
				}
			}//&.vk_balloon-type-think
		}//.vk_balloon-position-right
	}//.vk_balloon

	.vk_balloon_icon{
		max-width:96px;
	}
} // @media only screen and (max-width: 480px) {


//editor-styles	
.editor-styles-wrapper{
	.vk_balloon{
		figure, 
		p.wp-block{
			width: 100%;
		 }
	}
	.block-editor-block-list__block .block-list-appender{
		margin: inherit;
	}
}

