@charset "UTF-8";
/*-------------------------------------------*/
/* リストデザイン
/*-------------------------------------------*/
ul.is-style-vk-default, ul.is-style-vk-arrow-mark, ul.is-style-vk-triangle-mark, ul.is-style-vk-check-mark, ul.is-style-vk-check-circle-mark, ul.is-style-vk-check-square-mark, ul.is-style-vk-handpoint-mark, ul.is-style-vk-pencil-mark, ul.is-style-vk-smile-mark, ul.is-style-vk-frown-mark, ul.is-style-vk-numbered-circle-mark, ul.is-style-vk-numbered-square-mark, ol.is-style-vk-default, ol.is-style-vk-arrow-mark, ol.is-style-vk-triangle-mark, ol.is-style-vk-check-mark, ol.is-style-vk-check-circle-mark, ol.is-style-vk-check-square-mark, ol.is-style-vk-handpoint-mark, ol.is-style-vk-pencil-mark, ol.is-style-vk-smile-mark, ol.is-style-vk-frown-mark, ol.is-style-vk-numbered-circle-mark, ol.is-style-vk-numbered-square-mark {
  padding-inline-start: 2em; }
  ul.is-style-vk-default li, ul.is-style-vk-arrow-mark li, ul.is-style-vk-triangle-mark li, ul.is-style-vk-check-mark li, ul.is-style-vk-check-circle-mark li, ul.is-style-vk-check-square-mark li, ul.is-style-vk-handpoint-mark li, ul.is-style-vk-pencil-mark li, ul.is-style-vk-smile-mark li, ul.is-style-vk-frown-mark li, ul.is-style-vk-numbered-circle-mark li, ul.is-style-vk-numbered-square-mark li, ol.is-style-vk-default li, ol.is-style-vk-arrow-mark li, ol.is-style-vk-triangle-mark li, ol.is-style-vk-check-mark li, ol.is-style-vk-check-circle-mark li, ol.is-style-vk-check-square-mark li, ol.is-style-vk-handpoint-mark li, ol.is-style-vk-pencil-mark li, ol.is-style-vk-smile-mark li, ol.is-style-vk-frown-mark li, ol.is-style-vk-numbered-circle-mark li, ol.is-style-vk-numbered-square-mark li {
    list-style: none;
    position: relative;
    margin-bottom: 0.8em;
    line-height: 1.65em; }
ul.is-style-vk-numbered-circle-mark, ol.is-style-vk-numbered-circle-mark {
  counter-reset: number;
  list-style-type: none; }
  ul.is-style-vk-numbered-circle-mark li, ol.is-style-vk-numbered-circle-mark li {
    position: relative;
    list-style: none; }
    ul.is-style-vk-numbered-circle-mark li:before, ol.is-style-vk-numbered-circle-mark li:before {
      position: absolute;
      left: -.3em;
      counter-increment: number;
      content: counter(number);
      margin-left: -25px;
      background: #222;
      color: #fff;
      text-indent: 0;
      display: inline-block;
      font-weight: bold;
      border-radius: 50%;
      font-size: 1em;
      line-height: 1em;
      padding: .3em .37em .2em;
      text-align: center; }
ul.is-style-vk-numbered-square-mark, ol.is-style-vk-numbered-square-mark {
  counter-reset: number;
  list-style-type: none; }
  ul.is-style-vk-numbered-square-mark li, ol.is-style-vk-numbered-square-mark li {
    position: relative;
    list-style: none; }
    ul.is-style-vk-numbered-square-mark li:before, ol.is-style-vk-numbered-square-mark li:before {
      position: absolute;
      left: -.3em;
      counter-increment: number;
      content: counter(number);
      margin-left: -25px;
      background: #222;
      color: #fff;
      text-indent: 0;
      display: inline-block;
      font-weight: bold;
      font-size: 1em;
      line-height: 1em;
      padding: .3em .37em .2em;
      text-align: center;
      border-radius: 2px; }
ul.is-style-vk-numbered-circle-mark.fa-lg li::before, ul.is-style-vk-numbered-square-mark.fa-lg li::before, ol.is-style-vk-numbered-circle-mark.fa-lg li::before, ol.is-style-vk-numbered-square-mark.fa-lg li::before {
  left: -.8em; }
ul.is-style-vk-numbered-circle-mark.fa-2x li, ul.is-style-vk-numbered-square-mark.fa-2x li, ol.is-style-vk-numbered-circle-mark.fa-2x li, ol.is-style-vk-numbered-square-mark.fa-2x li {
  line-height: 1.25em; }
ul.is-style-vk-numbered-circle-mark.fa-2x li::before, ul.is-style-vk-numbered-square-mark.fa-2x li::before, ol.is-style-vk-numbered-circle-mark.fa-2x li::before, ol.is-style-vk-numbered-square-mark.fa-2x li::before {
  left: -1.1em; }
ul.is-style-vk-numbered-circle-mark.fa-3x li, ul.is-style-vk-numbered-square-mark.fa-3x li, ol.is-style-vk-numbered-circle-mark.fa-3x li, ol.is-style-vk-numbered-square-mark.fa-3x li {
  line-height: 1.25em; }
ul.is-style-vk-numbered-circle-mark.fa-3x li::before, ul.is-style-vk-numbered-square-mark.fa-3x li::before, ol.is-style-vk-numbered-circle-mark.fa-3x li::before, ol.is-style-vk-numbered-square-mark.fa-3x li::before {
  left: -1.4em; }
ul.is-style-vk-numbered-circle-mark.fa-4x li, ul.is-style-vk-numbered-square-mark.fa-4x li, ol.is-style-vk-numbered-circle-mark.fa-4x li, ol.is-style-vk-numbered-square-mark.fa-4x li {
  line-height: 1.25em; }
ul.is-style-vk-numbered-circle-mark.fa-4x li::before, ul.is-style-vk-numbered-square-mark.fa-4x li::before, ol.is-style-vk-numbered-circle-mark.fa-4x li::before, ol.is-style-vk-numbered-square-mark.fa-4x li::before {
  left: -1.5em; }
ul.is-style-vk-numbered-circle-mark.fa-5x li, ul.is-style-vk-numbered-square-mark.fa-5x li, ol.is-style-vk-numbered-circle-mark.fa-5x li, ol.is-style-vk-numbered-square-mark.fa-5x li {
  line-height: 1.25em; }
ul.is-style-vk-numbered-circle-mark.fa-5x li::before, ul.is-style-vk-numbered-square-mark.fa-5x li::before, ol.is-style-vk-numbered-circle-mark.fa-5x li::before, ol.is-style-vk-numbered-square-mark.fa-5x li::before {
  left: -1.6em; }
ul.is-style-vk-default li::before, ol.is-style-vk-default li::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  content: "•";
  left: -1.5em; }
ul.is-style-vk-default li::before, ol.is-style-vk-default li::before {
  font-size: 22px;
  line-height: 1.1em; }
ul.is-style-vk-arrow-mark li::before, ol.is-style-vk-arrow-mark li::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  content: "";
  left: -1.5em; }
ul.is-style-vk-default li::before, ol.is-style-vk-default li::before {
  font-size: 22px;
  line-height: 1.1em; }
ul.is-style-vk-triangle-mark li::before, ol.is-style-vk-triangle-mark li::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  content: "";
  left: -1.5em; }
ul.is-style-vk-default li::before, ol.is-style-vk-default li::before {
  font-size: 22px;
  line-height: 1.1em; }
ul.is-style-vk-check-mark li::before, ol.is-style-vk-check-mark li::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  content: "";
  left: -1.5em; }
ul.is-style-vk-default li::before, ol.is-style-vk-default li::before {
  font-size: 22px;
  line-height: 1.1em; }
ul.is-style-vk-check-circle-mark li::before, ol.is-style-vk-check-circle-mark li::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  content: "";
  left: -1.5em; }
ul.is-style-vk-default li::before, ol.is-style-vk-default li::before {
  font-size: 22px;
  line-height: 1.1em; }
ul.is-style-vk-check-square-mark li::before, ol.is-style-vk-check-square-mark li::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  content: "";
  left: -1.5em; }
ul.is-style-vk-default li::before, ol.is-style-vk-default li::before {
  font-size: 22px;
  line-height: 1.1em; }
ul.is-style-vk-handpoint-mark li::before, ol.is-style-vk-handpoint-mark li::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  content: "";
  left: -1.5em; }
ul.is-style-vk-default li::before, ol.is-style-vk-default li::before {
  font-size: 22px;
  line-height: 1.1em; }
ul.is-style-vk-pencil-mark li::before, ol.is-style-vk-pencil-mark li::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  content: "";
  left: -1.5em; }
ul.is-style-vk-default li::before, ol.is-style-vk-default li::before {
  font-size: 22px;
  line-height: 1.1em; }
ul.is-style-vk-smile-mark li::before, ol.is-style-vk-smile-mark li::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  content: "";
  left: -1.5em; }
ul.is-style-vk-default li::before, ol.is-style-vk-default li::before {
  font-size: 22px;
  line-height: 1.1em; }
ul.is-style-vk-frown-mark li::before, ol.is-style-vk-frown-mark li::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  content: "";
  left: -1.5em; }
ul.is-style-vk-default li::before, ol.is-style-vk-default li::before {
  font-size: 22px;
  line-height: 1.1em; }
ul.vk-has-pale-pink-color li::before, ol.vk-has-pale-pink-color li::before {
  color: #f78da7; }
ul.is-style-vk-numbered-circle-mark.vk-has-pale-pink-color li::before, ul.is-style-vk-numbered-square-mark.vk-has-pale-pink-color li::before, ol.is-style-vk-numbered-circle-mark.vk-has-pale-pink-color li::before, ol.is-style-vk-numbered-square-mark.vk-has-pale-pink-color li::before {
  color: #ffffff;
  background-color: #f78da7; }
ul.vk-has-vivid-red-color li::before, ol.vk-has-vivid-red-color li::before {
  color: #cf2e2e; }
ul.is-style-vk-numbered-circle-mark.vk-has-vivid-red-color li::before, ul.is-style-vk-numbered-square-mark.vk-has-vivid-red-color li::before, ol.is-style-vk-numbered-circle-mark.vk-has-vivid-red-color li::before, ol.is-style-vk-numbered-square-mark.vk-has-vivid-red-color li::before {
  color: #ffffff;
  background-color: #cf2e2e; }
ul.vk-has-luminous-vivid-orange-color li::before, ol.vk-has-luminous-vivid-orange-color li::before {
  color: #ff6900; }
ul.is-style-vk-numbered-circle-mark.vk-has-luminous-vivid-orange-color li::before, ul.is-style-vk-numbered-square-mark.vk-has-luminous-vivid-orange-color li::before, ol.is-style-vk-numbered-circle-mark.vk-has-luminous-vivid-orange-color li::before, ol.is-style-vk-numbered-square-mark.vk-has-luminous-vivid-orange-color li::before {
  color: #ffffff;
  background-color: #ff6900; }
ul.vk-has-luminous-vivid-amber-color li::before, ol.vk-has-luminous-vivid-amber-color li::before {
  color: #fcb900; }
ul.is-style-vk-numbered-circle-mark.vk-has-luminous-vivid-amber-color li::before, ul.is-style-vk-numbered-square-mark.vk-has-luminous-vivid-amber-color li::before, ol.is-style-vk-numbered-circle-mark.vk-has-luminous-vivid-amber-color li::before, ol.is-style-vk-numbered-square-mark.vk-has-luminous-vivid-amber-color li::before {
  color: #ffffff;
  background-color: #fcb900; }
ul.vk-has-light-green-cyan-color li::before, ol.vk-has-light-green-cyan-color li::before {
  color: #7bdcb5; }
ul.is-style-vk-numbered-circle-mark.vk-has-light-green-cyan-color li::before, ul.is-style-vk-numbered-square-mark.vk-has-light-green-cyan-color li::before, ol.is-style-vk-numbered-circle-mark.vk-has-light-green-cyan-color li::before, ol.is-style-vk-numbered-square-mark.vk-has-light-green-cyan-color li::before {
  color: #ffffff;
  background-color: #7bdcb5; }
ul.vk-has-vivid-green-cyan-color li::before, ol.vk-has-vivid-green-cyan-color li::before {
  color: #00d084; }
ul.is-style-vk-numbered-circle-mark.vk-has-vivid-green-cyan-color li::before, ul.is-style-vk-numbered-square-mark.vk-has-vivid-green-cyan-color li::before, ol.is-style-vk-numbered-circle-mark.vk-has-vivid-green-cyan-color li::before, ol.is-style-vk-numbered-square-mark.vk-has-vivid-green-cyan-color li::before {
  color: #ffffff;
  background-color: #00d084; }
ul.vk-has-pale-cyan-blue-color li::before, ol.vk-has-pale-cyan-blue-color li::before {
  color: #8ed1fc; }
ul.is-style-vk-numbered-circle-mark.vk-has-pale-cyan-blue-color li::before, ul.is-style-vk-numbered-square-mark.vk-has-pale-cyan-blue-color li::before, ol.is-style-vk-numbered-circle-mark.vk-has-pale-cyan-blue-color li::before, ol.is-style-vk-numbered-square-mark.vk-has-pale-cyan-blue-color li::before {
  color: #ffffff;
  background-color: #8ed1fc; }
ul.vk-has-vivid-cyan-blue-color li::before, ol.vk-has-vivid-cyan-blue-color li::before {
  color: #0693e3; }
ul.is-style-vk-numbered-circle-mark.vk-has-vivid-cyan-blue-color li::before, ul.is-style-vk-numbered-square-mark.vk-has-vivid-cyan-blue-color li::before, ol.is-style-vk-numbered-circle-mark.vk-has-vivid-cyan-blue-color li::before, ol.is-style-vk-numbered-square-mark.vk-has-vivid-cyan-blue-color li::before {
  color: #ffffff;
  background-color: #0693e3; }
ul.vk-has-vivid-purple-color li::before, ol.vk-has-vivid-purple-color li::before {
  color: #9b51e0; }
ul.is-style-vk-numbered-circle-mark.vk-has-vivid-purple-color li::before, ul.is-style-vk-numbered-square-mark.vk-has-vivid-purple-color li::before, ol.is-style-vk-numbered-circle-mark.vk-has-vivid-purple-color li::before, ol.is-style-vk-numbered-square-mark.vk-has-vivid-purple-color li::before {
  color: #ffffff;
  background-color: #9b51e0; }
ul.vk-has-very-light-gray-color li::before, ol.vk-has-very-light-gray-color li::before {
  color: #eee; }
ul.is-style-vk-numbered-circle-mark.vk-has-very-light-gray-color li::before, ul.is-style-vk-numbered-square-mark.vk-has-very-light-gray-color li::before, ol.is-style-vk-numbered-circle-mark.vk-has-very-light-gray-color li::before, ol.is-style-vk-numbered-square-mark.vk-has-very-light-gray-color li::before {
  color: #ffffff;
  background-color: #eee; }
ul.vk-has-cyan-bluish-gray-color li::before, ol.vk-has-cyan-bluish-gray-color li::before {
  color: #abb8c3; }
ul.is-style-vk-numbered-circle-mark.vk-has-cyan-bluish-gray-color li::before, ul.is-style-vk-numbered-square-mark.vk-has-cyan-bluish-gray-color li::before, ol.is-style-vk-numbered-circle-mark.vk-has-cyan-bluish-gray-color li::before, ol.is-style-vk-numbered-square-mark.vk-has-cyan-bluish-gray-color li::before {
  color: #ffffff;
  background-color: #abb8c3; }
ul.vk-has-very-dark-gray-color li::before, ol.vk-has-very-dark-gray-color li::before {
  color: #313131; }
ul.is-style-vk-numbered-circle-mark.vk-has-very-dark-gray-color li::before, ul.is-style-vk-numbered-square-mark.vk-has-very-dark-gray-color li::before, ol.is-style-vk-numbered-circle-mark.vk-has-very-dark-gray-color li::before, ol.is-style-vk-numbered-square-mark.vk-has-very-dark-gray-color li::before {
  color: #ffffff;
  background-color: #313131; }

/*-------------------------------------------*/
/* グループブロック　デザイン
/*-------------------------------------------*/
.wp-block-group.is-style-vk-group-solid {
  border: solid 3px;
  padding: 1.8em;
  margin: 1.2em 0; }
  .wp-block-group.is-style-vk-group-solid h2, .wp-block-group.is-style-vk-group-solid h3, .wp-block-group.is-style-vk-group-solid h4, .wp-block-group.is-style-vk-group-solid h5, .wp-block-group.is-style-vk-group-solid h6 {
    margin-bottom: 1rem; }
  .wp-block-group.is-style-vk-group-solid ul, .wp-block-group.is-style-vk-group-solid ol {
    margin-top: 0;
    margin-bottom: 0; }
    .wp-block-group.is-style-vk-group-solid ul li:last-child, .wp-block-group.is-style-vk-group-solid ol li:last-child {
      margin-bottom: 0; }
.wp-block-group.is-style-vk-group-dotted {
  border: dotted 1px;
  padding: 1.8em;
  margin: 1.2em 0; }
  .wp-block-group.is-style-vk-group-dotted h2, .wp-block-group.is-style-vk-group-dotted h3, .wp-block-group.is-style-vk-group-dotted h4, .wp-block-group.is-style-vk-group-dotted h5, .wp-block-group.is-style-vk-group-dotted h6 {
    margin-bottom: 1rem; }
  .wp-block-group.is-style-vk-group-dotted ul, .wp-block-group.is-style-vk-group-dotted ol {
    margin-top: 0;
    margin-bottom: 0; }
    .wp-block-group.is-style-vk-group-dotted ul li:last-child, .wp-block-group.is-style-vk-group-dotted ol li:last-child {
      margin-bottom: 0; }
.wp-block-group.is-style-vk-group-dashed {
  border: dashed 2px;
  padding: 1.8em;
  margin: 1.2em 0; }
  .wp-block-group.is-style-vk-group-dashed h2, .wp-block-group.is-style-vk-group-dashed h3, .wp-block-group.is-style-vk-group-dashed h4, .wp-block-group.is-style-vk-group-dashed h5, .wp-block-group.is-style-vk-group-dashed h6 {
    margin-bottom: 1rem; }
  .wp-block-group.is-style-vk-group-dashed ul, .wp-block-group.is-style-vk-group-dashed ol {
    margin-top: 0;
    margin-bottom: 0; }
    .wp-block-group.is-style-vk-group-dashed ul li:last-child, .wp-block-group.is-style-vk-group-dashed ol li:last-child {
      margin-bottom: 0; }
.wp-block-group.is-style-vk-group-double {
  border: double 5px;
  padding: 1.8em;
  margin: 1.2em 0; }
  .wp-block-group.is-style-vk-group-double h2, .wp-block-group.is-style-vk-group-double h3, .wp-block-group.is-style-vk-group-double h4, .wp-block-group.is-style-vk-group-double h5, .wp-block-group.is-style-vk-group-double h6 {
    margin-bottom: 1rem; }
  .wp-block-group.is-style-vk-group-double ul, .wp-block-group.is-style-vk-group-double ol {
    margin-top: 0;
    margin-bottom: 0; }
    .wp-block-group.is-style-vk-group-double ul li:last-child, .wp-block-group.is-style-vk-group-double ol li:last-child {
      margin-bottom: 0; }
.wp-block-group.is-style-vk-group-stitch {
  margin: 1em 0;
  padding: 0.5em;
  border-radius: 8px; }
  .wp-block-group.is-style-vk-group-stitch h2, .wp-block-group.is-style-vk-group-stitch h3, .wp-block-group.is-style-vk-group-stitch h4, .wp-block-group.is-style-vk-group-stitch h5, .wp-block-group.is-style-vk-group-stitch h6 {
    margin-bottom: 1rem; }
  .wp-block-group.is-style-vk-group-stitch ul, .wp-block-group.is-style-vk-group-stitch ol {
    margin-top: 0;
    margin-bottom: 0; }
    .wp-block-group.is-style-vk-group-stitch ul li:last-child, .wp-block-group.is-style-vk-group-stitch ol li:last-child {
      margin-bottom: 0; }
  .wp-block-group.is-style-vk-group-stitch .wp-block-group__inner-container {
    border: dashed 2px;
    border-radius: 8px;
    padding: 1.8em; }
.wp-block-group.is-style-vk-group-top-bottom-border {
  border-top: solid 1px;
  border-bottom: solid 1px;
  padding: 1.8em;
  margin: 1.2em 0;
  padding-left: 0;
  padding-right: 0; }
  .wp-block-group.is-style-vk-group-top-bottom-border h2, .wp-block-group.is-style-vk-group-top-bottom-border h3, .wp-block-group.is-style-vk-group-top-bottom-border h4, .wp-block-group.is-style-vk-group-top-bottom-border h5, .wp-block-group.is-style-vk-group-top-bottom-border h6 {
    margin-bottom: 1rem; }
  .wp-block-group.is-style-vk-group-top-bottom-border ul, .wp-block-group.is-style-vk-group-top-bottom-border ol {
    margin-top: 0;
    margin-bottom: 0; }
    .wp-block-group.is-style-vk-group-top-bottom-border ul li:last-child, .wp-block-group.is-style-vk-group-top-bottom-border ol li:last-child {
      margin-bottom: 0; }
.wp-block-group.is-style-vk-group-shadow {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 1.8em;
  margin: 1.2em 0; }
  .wp-block-group.is-style-vk-group-shadow h2, .wp-block-group.is-style-vk-group-shadow h3, .wp-block-group.is-style-vk-group-shadow h4, .wp-block-group.is-style-vk-group-shadow h5, .wp-block-group.is-style-vk-group-shadow h6 {
    margin-bottom: 1rem; }
  .wp-block-group.is-style-vk-group-shadow ul, .wp-block-group.is-style-vk-group-shadow ol {
    margin-top: 0;
    margin-bottom: 0; }
    .wp-block-group.is-style-vk-group-shadow ul li:last-child, .wp-block-group.is-style-vk-group-shadow ol li:last-child {
      margin-bottom: 0; }
.wp-block-group h3:first-child, .wp-block-group h4:first-child {
  margin-top: 0; }
.wp-block-group p:last-child {
  margin-bottom: 0; }
.wp-block-group.vk-has-pale-pink-color {
  border-color: #f78da7; }
  .wp-block-group.vk-has-pale-pink-color .wp-block-group__inner-container {
    border-color: #f78da7; }
.wp-block-group.vk-has-vivid-red-color {
  border-color: #cf2e2e; }
  .wp-block-group.vk-has-vivid-red-color .wp-block-group__inner-container {
    border-color: #cf2e2e; }
.wp-block-group.vk-has-luminous-vivid-orange-color {
  border-color: #ff6900; }
  .wp-block-group.vk-has-luminous-vivid-orange-color .wp-block-group__inner-container {
    border-color: #ff6900; }
.wp-block-group.vk-has-luminous-vivid-amber-color {
  border-color: #fcb900; }
  .wp-block-group.vk-has-luminous-vivid-amber-color .wp-block-group__inner-container {
    border-color: #fcb900; }
.wp-block-group.vk-has-light-green-cyan-color {
  border-color: #7bdcb5; }
  .wp-block-group.vk-has-light-green-cyan-color .wp-block-group__inner-container {
    border-color: #7bdcb5; }
.wp-block-group.vk-has-vivid-green-cyan-color {
  border-color: #00d084; }
  .wp-block-group.vk-has-vivid-green-cyan-color .wp-block-group__inner-container {
    border-color: #00d084; }
.wp-block-group.vk-has-pale-cyan-blue-color {
  border-color: #8ed1fc; }
  .wp-block-group.vk-has-pale-cyan-blue-color .wp-block-group__inner-container {
    border-color: #8ed1fc; }
.wp-block-group.vk-has-vivid-cyan-blue-color {
  border-color: #0693e3; }
  .wp-block-group.vk-has-vivid-cyan-blue-color .wp-block-group__inner-container {
    border-color: #0693e3; }
.wp-block-group.vk-has-vivid-purple-color {
  border-color: #9b51e0; }
  .wp-block-group.vk-has-vivid-purple-color .wp-block-group__inner-container {
    border-color: #9b51e0; }
.wp-block-group.vk-has-very-light-gray-color {
  border-color: #eee; }
  .wp-block-group.vk-has-very-light-gray-color .wp-block-group__inner-container {
    border-color: #eee; }
.wp-block-group.vk-has-cyan-bluish-gray-color {
  border-color: #abb8c3; }
  .wp-block-group.vk-has-cyan-bluish-gray-color .wp-block-group__inner-container {
    border-color: #abb8c3; }
.wp-block-group.vk-has-very-dark-gray-color {
  border-color: #313131; }
  .wp-block-group.vk-has-very-dark-gray-color .wp-block-group__inner-container {
    border-color: #313131; }

/*# sourceMappingURL=common.css.map */
