@use 'utils/breakpoints' as *;

.vk_hidden {
	display: none !important;
	color: var(--blue);

	@media (width < $xs) {

		&-xs {
			display: none !important;
		}
	}

	@media ($xs <= width < $sm) {

		&-sm {
			display: none !important;
		}
	}

	@media ($sm <= width < $md) {

		&-md {
			display: none !important;
		}
	}

	@media ($md <= width < $lg) {

		&-lg {
			display: none !important;
		}
	}

	@media (width >= $lg) {

		&-xl {
			display: none !important;
		}
	}

	@media ($lg <= width < $xl) {

		&-xl-v2 {
			display: none !important;
		}
	}

	@media (width >= $xl) {

		&-xxl {
			display: none !important;
		}
	}
}
