.vk-block{
	.btn-left{
		display: block;
		margin-right: auto;
	}
	.btn-center{
		display: block;
		margin: auto;
	}
	.btn-right{
		display: block;
		margin-left: auto;
	}
	.btn-container{
		margin: 5px 0;
	}
}
