@media (min-width: 600px){
	.wp-block-columns {
		margin-left:-15px;
		margin-right:-15px;
	}
	.wp-block-column {
		flex-basis: auto;
		margin-left:15px;
		margin-right:15px;
		width: calc( 50% - 30px ) ;
		&:not(:first-child),
		&:not(:last-child),
		&:nth-child(odd){
			margin-left:15px;
			margin-right:15px;
		}
	}
}

/*-------------------------------------------*/
/*  「最新の記事」ブロック
/*-------------------------------------------*/
.wp-block-latest-posts{
	margin: 0;
	padding: 0;
	list-style-type: none;
	li{
		margin: 0;
		padding: 1rem 0;
		border-bottom: 1px dotted #666;

		a{
			color: #464646;
			@media (max-width: 768px){
				font-size: 1rem;
			}
		}

		time{
			color: #d44950;
		}
	}
}
