@media (min-width: 600px){
.wp-block-columns {
	margin-left:-15px;
	margin-right:-15px;
}
.wp-block-column {
	flex-basis: auto;
	margin-left:15px;
	margin-right:15px;
	width: calc( 50% - 30px ) ;
	&:not(:first-child),
	&:not(:last-child),
	&:nth-child(odd){
		margin-left:15px;
		margin-right:15px;
	}
}
}
