@charset "utf-8";
// @import "compass";

.mainSection-title {
	i,svg { margin-right:8px;top:-2px; }
}

@import "media_widget";
@import "authors";

.loop_outer:after{
	content: "";
  display: block;
  clear: both;
}
