@charset "UTF-8";
/*-------------------------------------------*/
/* CSS
/*-------------------------------------------*/
.vk_staff_text {
  float: left;
  width: 61.6%; }
.vk_staff_photo {
  float: right;
  width: 32%; }
.vk_staff-layout-imageLeft .vk_staff_text {
  float: right; }
.vk_staff-layout-imageLeft .vk_staff_photo {
  float: left; }

.vk_staff {
  display: block;
  overflow: hidden; }
  .vk_staff_text_name {
    text-align: left;
    box-shadow: none;
    font-size: 3.5rem;
    font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "serif";
    line-height: 1.0;
    margin-bottom: 0.5rem;
    border: none;
    padding: 0;
    background-color: transparent; }
    .vk_staff_text_name:before, .vk_staff_text_name:after {
      border: none; }
  .vk_staff_text_caption {
    font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "serif";
    font-size: 14px;
    display: block;
    margin: 0 0 0.5rem 4px;
    letter-spacing: 5px; }
  .vk_staff_text_role {
    font-size: 14px;
    line-height: 1.6em;
    font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "serif"; }
  .vk_staff_text_profileTitle {
    font-size: 18px;
    font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "serif";
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 2px;
    margin-bottom: 1.2rem;
    border-top: none;
    border-bottom: 1px solid #ccc;
    background: none; }
    .vk_staff_text_profileTitle:before, .vk_staff_text_profileTitle:after {
      border: none; }
  .vk_staff_text_profileText {
    font-size: 14px; }
  .vk_staff_photo {
    display: block;
    vertical-align: top;
    text-align: center; }
    .vk_staff_photo button {
      width: 100%; }
    .vk_staff_photo .image-button {
      padding: 0;
      margin: 0;
      display: block; }
    .vk_staff_photo-border-default {
      border: 4px solid #efefef;
      padding: 1px; }
    .vk_staff_photo-border-none {
      border: none; }
    .vk_staff_photo_image {
      width: 100%;
      margin: 0;
      display: block; }

@media (min-width: 992px) {
  .page-template-page-onecolumn .vk_staff_text,
  .page-template-page-lp .vk_staff_text,
  .page-template-page-lp-builder .vk_staff_text {
    width: 74%; }
    .page-template-page-onecolumn .vk_staff_text_name,
    .page-template-page-lp .vk_staff_text_name,
    .page-template-page-lp-builder .vk_staff_text_name {
      font-size: 4rem; }
    .page-template-page-onecolumn .vk_staff_text_caption,
    .page-template-page-lp .vk_staff_text_caption,
    .page-template-page-lp-builder .vk_staff_text_caption {
      font-size: 16px;
      letter-spacing: 0.5rem; }
    .page-template-page-onecolumn .vk_staff_text_role,
    .page-template-page-lp .vk_staff_text_role,
    .page-template-page-lp-builder .vk_staff_text_role {
      letter-spacing: 0.5rem; }
  .page-template-page-onecolumn .vk_staff_photo,
  .page-template-page-lp .vk_staff_photo,
  .page-template-page-lp-builder .vk_staff_photo {
    width: 22%; } }
@media (min-width: 1200px) {
  .page-template-page-onecolumn .vk_staff_text,
  .page-template-page-lp .vk_staff_text,
  .page-template-page-lp-builder .vk_staff_text {
    width: 75%; }
  .page-template-page-onecolumn .vk_staff_photo,
  .page-template-page-lp .vk_staff_photo,
  .page-template-page-lp-builder .vk_staff_photo {
    width: 20%; } }

/*# sourceMappingURL=style.css.map */
