/*-------------------------------------------*/
/* CSS
/*-------------------------------------------*/
.vk_simple-table{
  th{
    font-weight: normal!important;
  }
}
.vk_simple-table-edit{
  table{
    .block-editor-block-list__block-edit{
      margin-top: 0;
      margin-bottom: 0;
    }
    tr{
      .block-editor-block-list__layout{
        display: flex;
        //width: 500px!important;

        .block-editor-block-list__block{
          border: 1px solid;
          .block-editor-block-list__block-edit{
            margin: 0;
          }
        }
      }
    }
    th,td {
      border:none;
      .wp-block-table__cell-content{
        width:15vw;
      }
    }
  }
}
